{% extends 'appBase.html.twig' %}
{% block appName %}سامانه منابع انسانی{% endblock %}
{% block appMenu %}
    <ul class="sidebar navbar-nav">
        <li class="nav-item border-bottom">
            <a class="nav-link" href="{{ path('HRMadmin') }}">
                <i class="fas fa-chalkboard"></i>
                <span>داشبورد</span>
            </a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link" href="{{ path('HRMEmployelist') }}">
                <i class="fas fa-list-alt"></i>
                <span>لیست پرسنل</span>
            </a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link" href="{{ path('HRMpositionsList') }}">
                <i class="fas fa-list-alt"></i>
                <span>جایگاه‌های سازمانی</span>
            </a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link" href="{{ path('HRMVisaList') }}">
                <i class="fas fa-list-alt"></i>
                <span>درخواست‌های ویزا</span>
            </a>
        </li>
        <li class="nav-item border-bottom">
            <a class="nav-link" href="{{ path('HRMAirTicketList') }}">
                <i class="fas fa-list-alt"></i>
                <span>بلیط هواپیما</span>
            </a>
        </li>

    </ul>
{% endblock %}


