{% extends 'appBase.html.twig' %}
{% block appName %}سامانه منابع انسانی{% endblock %}
{% block appMenu %}
    <div class="list-group">
        <a class="list-group-item list-group-item-action flex-column align-items-start active" href="{{ path('HRMadmin') }}">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-2 tx-14">داشبورد اصلی</h5><small><i class="fas fa-chalkboard fa-2x"></i></small>
            </div>
            <p class="mb-1 tx-13">دسترسی به منو اصلی داشبورد</p>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start" href="{{ path('HRMEmployelist') }}">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-2 tx-14">پرسنل</h5><small><i class="fas fa-user-friends fa-2x"></i></small>
            </div>
            <p class="mb-1 tx-13">لیست پرسنل سازمان</p>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start" href="{{ path('HRMpositionsList') }}">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-2 tx-14">جایگاه‌های سازمانی</h5><small><i class="fas fa-square fa-2x"></i></small>
            </div>
            <p class="mb-1 tx-13">دسترسی به جایگاه‌های سازمانی تعریف شده</p>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start" href="{{ path('HRMAirTicketList') }}">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-2 tx-14">بلیط‌های هواپیما</h5><small><i class="fas fa-ticket-alt fa-2x"></i></small>
            </div>
            <p class="mb-1 tx-13">آرشیو بلیط‌های هواپیمای ثبت شده</p>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start" href="{{ path('HRMVisaList') }}">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-2 tx-14">درخواست‌های ویزا</h5><small><i class="fas fa-passport fa-2x"></i></small>
            </div>
            <p class="mb-1 tx-13">آرشیو درخواست‌های ویزای پرسنل</p>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start" href="{{ path('HRMListReports') }}">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-2 tx-14">گزارشات</h5><small><i class="fas fa-chart-line fa-2x"></i></small>
            </div>
            <p class="mb-1 tx-13">لیست گزارشات بخش کارگزینی</p>
        </a>
    </div>
{% endblock %}


