{% extends 'hrm/base.html.twig' %}

{% block title %}ثبت نامه خروج از کشور برای {{ user.fullname }}{% endblock %}

{% block appTop %}
    <a class="btn btn-outline-light" href="{{ path('HRMEmployeFolder',{'id':user.id}) }}">
        بازگشت
    </a>
{% endblock %}

{% block pageBody %}
    <div class="p-2">
        <div class="card">
            <div class="card-header">
                اطلاعات اصلی
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            نام و نام خانوادگی:
                            {{ user.fullname }}
                        </div>
                        <div class="col-sm-12 col-md-4">
                            شماره ملی:
                            {{ user.nationalCode }}
                        </div>
                        <div class="col-sm-12 col-md-4">
                            شماره پرسنلی:
                            {{ user.employeNum }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                <span class="text-right">اطلاعات نامه</span>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            {{ form_start(form) }}
                            {{ form_label(form.letterNum) }}
                            {{ form_widget(form.letterNum) }}
                            {{ form_label(form.letterSource) }}
                            {{ form_widget(form.letterSource) }}
                        </div>
                        <div class="col-sm-12 col-md-4">
                            {{ form_label(form.letterStartDate) }}
                            {{ form_widget(form.letterStartDate) }}
                            {{ form_label(form.letterEndDate) }}
                            {{ form_widget(form.letterEndDate) }}
                        </div>
                        <div class="col-12">
                            <div class="row pt-3">
                                <div class="col">
                                    {{ form_widget(form.submit) }}
                                    <a class="btn btn-warning" href="{{ path('HRMEmployeFolder',{'id':user.id}) }}">
                                        <i class="fa fa-undo"></i>
                                        بازگشت
                                    </a>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}