{% extends 'hrm/base.html.twig' %}

    {% block breadcrumb %}
        <ol class="breadcrumb mt-2">
            <li class="breadcrumb-item"><a class="" href="{{ path('home') }}">
                    <i class="fas fa-home"></i>
                    پورتال اصلی
                </a></li>
            <li class="breadcrumb-item text-primary">
                <i class="fas fa-warehouse"></i>
                {{ UserMGR.currentPosition.defaultArea.areaName}}
            </li>
            <li class="breadcrumb-item"><a class="" href="{{ path('apps') }}">
                    <i class="fal fa-window-alt"></i>
                    برنامه‌ها
                </a>
            </li>
            <li class="breadcrumb-item">{{ block('appName') }}</li>
            <li class="breadcrumb-item active">{{ block('title') }}</li>
        </ol>
    {% endblock %}

{% block title %}اطلاعات مسافر:{{ passenger.pname ~ ' ' ~ passenger.pfamily }}{% endblock %}
{% block pageBody %}
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                <i class="fas fa-user"></i>
                اطلاعات مسافر
            </a>
            <a class="nav-item nav-link" id="nav-scan-tab" data-toggle="tab" href="#nav-scan" role="tab" aria-controls="nav-scan" aria-selected="false">
                <i class="fas fa-file-archive"></i>
                اسکن مدارک هویتی
            </a>
            <a class="nav-item nav-link" id="nav-io-tab" data-toggle="tab" href="#nav-io" role="tab" aria-controls="nav-io" aria-selected="false">
                <i class="fas fa-file-archive"></i>
                مجوزهای خروج از کشور
            </a>
            <a class="nav-item nav-link" id="nav-ticket-tab" data-toggle="tab" href="#nav-ticket" role="tab" aria-controls="nav-ticket" aria-selected="false">
                <i class="fas fa-file-archive"></i>
                بلیط‌های هواپیما
            </a>
            <a class="nav-item nav-link" id="nav-visa-tab" data-toggle="tab" href="#nav-visa" role="tab" aria-controls="nav-visa" aria-selected="false">
                <i class="fas fa-file-archive"></i>
                درخواست‌های ویزا
            </a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="container py-3">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <img class="img-fluid img-thumbnail" src="{{ asset('files/ProfilePic/' ~ passenger.pcodemeli ~ '.jpg') }}">
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="row">
                            <div class="col-12">
                                <p>
                                    هویت مسافر:
                                    <span class="alert alert-danger">{{ passenger.ptype.typeName }}</span>
                                </p>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <p>
                                    نام:
                                    <span class="text-danger">{{ passenger.pname }}</span>
                                </p>
                                <p>
                                    نام خانوادگی:
                                    <span class="text-danger">{{ passenger.pfamily }}</span>
                                </p>
                                <p>
                                    نام پدر:
                                    <span class="text-danger">{{ passenger.pfather }}</span>
                                </p>
                                <p>
                                    شماره شناسنامه:
                                    <span class="text-danger">{{ passenger.pshenasname }}</span>
                                </p>
                                <p>
                                    کد ملی:
                                    <span class="text-danger">{{ passenger.pcodemeli }}</span>
                                </p>
                                <p>
                                    پایان اعتبار گذرنامه:
                                    <span class="text-danger">{{ passenger.passportExpireDate }}</span>
                                </p>

                            </div>
                            <div class="col-sm-12 col-md-6">
                                <p>
                                    Name:
                                    <span class="text-danger">{{ passenger.lname }}</span>
                                </p>
                                <p>
                                    FamilyName:
                                    <span class="text-danger">{{ passenger.lfamily }}</span>
                                </p>
                                <p>
                                    Father Name:
                                    <span class="text-danger">{{ passenger.lfather }}</span>
                                </p>
                                <p>
                                    National Code:
                                    <span class="text-danger">{{ passenger.pcodemeli }}</span>
                                </p>
                                <p>
                                    Passport Number:
                                    <span class="text-danger">{{ passenger.PassNo }}</span>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <h5 class="text-success">اطلاعات تماس</h5>
                <div class="col-12 pt-1">
                    شماره همراه:
                    {{ passenger.tel1 }}
                </div>
                <div class="col-12 pt-1">
                    تلفن ثابت:
                    {{ passenger.tel2 }}
                </div>
                <div class="col-12 pt-1">
                    شماره شبکه های اجتماعی:
                    {{ passenger.tel3 }}
                </div>
                <div class="col-12 pt-1">
                    نشانی:
                    {{ passenger.adr }}
                </div>
                <div class="col-12 pt-1">
                    کد پستی:
                    {{ passenger.postalCode }}
                </div>
            </div>
        </div>
        <div class="tab-pane fade show" id="nav-scan" role="tabpanel" aria-labelledby="nav-scan-tab">
            {{ form_start(form) }}
            <h5 class="text-success pt-3">اسکن مدارک شناسایی:
                <i class="fas fa-question-square" onclick="SysLoadMsg('1006');"></i>
            </h5>
            <hr>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    {{ form_widget(form.docType) }}
                </div>
                <div class="col-sm-12 col-md-6">
                    <span class="ti"></span>
                    {{ form_widget(form.docName) }}
                    <script>
                        $('input[type="file"]').change(function(e){
                            var fileName = e.target.files[0].name;
                            $('.ti').html(fileName);
                        });
                    </script>

                </div>
            </div>
            <br>
            {{ form_widget(form.submit) }}
            {{ form_end(form) }}
            {% if docs | length != 0 %}
                <hr>
                <h5 class="text-success">اسکن مدارک:</h5>
                <div class="row">
                    {% for doc in docs %}
                        <div class="col-3">
                            <a href="{{ asset('files/' ~ doc.docName) }}" data-lightbox="image-1" data-title="{{ doc.docType.tname }}"><img  style="max-height: 250px" class="img-thumbnail" src="{{ asset('files/' ~ doc.docName) }}"></a>
                            <a class="btn btn-sm btn-danger" href="{{ path('HRMdocDelete',{'id':doc.id}) }}">حذف مدرک</a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <hr>
                <h5 class="text-warning">تاکنون هیچ یک از اسناد را ارسال نکرده اید.</h5>
            {% endif %}
        </div>
        <div class="tab-pane fade show" id="nav-io" role="tabio" aria-labelledby="nav-io-tab">
            <div class="container py-3">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered table-hover rounded text-center">
                            <thead class="bg-blue text-light">
                            <tr>
                                <th>ردیف</th>
                                <th>شماره نامه</th>
                                <th>تاریخ صدور</th>
                                <th>تاریخ پایان اعتبار</th>
                                <th>مرجع صدور</th>
                                <th>وضعیت مجوز</th>
                            </tr>
                            </thead>
                            <tbody class="">
                            {% for letter in letters %}
                                <tr class="">
                                    <td>{{ loop.index }}</td>
                                    <td>{{ letter.letterNum }}</td>
                                    <td>{{ letter.letterStartDate }}</td>
                                    <td>{{ letter.letterEndDate }}</td>
                                    <td>{{ letter.letterSource }}</td>
                                    <td>
                                        {% set valueStart = letter.letterStartDate |replace({'/': ''}) %}
                                        {% set valueEnd = letter.letterEndDate |replace({'/': ''}) %}
                                        {% set valueNow = Jdate.jdate('Ymd','now'|date('U'))%}
                                        {% if  valueNow >= valueStart and valueNow < valueEnd %}
                                            <span class="badge badge-success">دارای اعتبار</span>
                                        {% else %}
                                            <span class="badge badge-danger">منقضی شده</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade show" id="nav-ticket" role="tabticket" aria-labelledby="nav-ticket-tab">
            <div class="container py-3">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered table-hover rounded text-center">
                            <thead class="bg-blue text-light">
                            <tr>
                                <th>ردیف</th>
                                <th>درخواست کننده</th>
                                <th>وضعیت بلیط</th>
                                <th>تاریخ درخواست</th>
                                <th>امکانات</th>
                            </tr>
                            </thead>
                            <tbody class="">
                            {% for ticket in tickets %}
                                <tr class="{% if ticket.ticketState.stateCode == 2 %}row-bg-success{% elseif ticket.ticketState.stateCode == -1 %}row-bg-danger{% endif %}">
                                    <td>{{ loop.index }}</td>
                                    <td>{{ ticket.submitter.publicLabel }}</td>
                                    <td>{{ ticket.ticketState.stateName }}</td>
                                    <td>{{ Jdate.jdate('Y/n/d',ticket.dateSubmit) }}</td>
                                    <td>
                                        <a class="btn btn-info rounded btn-small btn-sm" href="{{ path('HRMAirTicketView',{'id':ticket.id}) }}">مشاهده</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade show" id="nav-visa" role="tabvisa" aria-labelledby="nav-visa-tab">
            <div class="container py-3">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered table-hover rounded text-center">
                            <thead class="bg-blue text-light">
                            <tr>
                                <th>ردیف</th>
                                <th>درخواست کننده</th>
                                <th>وضعیت درخواست</th>
                                <th>تاریخ درخواست</th>
                                <th>تاریخ شروع اعتبار</th>
                                <th>تاریخ انقضا</th>
                                <th>امکانات</th>
                            </tr>
                            </thead>
                            <tbody class="">
                            {% for visa in visas %}
                                <tr class="{% if visa.visaState.stateCode == 2 %}bg-success text-light{% elseif visa.visaState.StateCode == -1 %}bg-danger text-light{% endif %}">
                                    <td class="w-auto">{{ loop.index }}</td>
                                    <td class="w-auto">{{ visa.submitter.publicLabel }}</td>
                                    <td class="w-auto">{{ visa.visaState.stateName }}</td>
                                    <td class="w-auto">{{ Jdate.jdate('Y/n/d',visa.dateSubmit) }}</td>
                                    <td>{{ visa.dateStart }}</td>
                                    <td>{{ visa.dateEnd }}</td>
                                    <td class="select-w200px">
                                        <a class="btn btn-info rounded btn-small" href="{{ path('HRMVisaView',{'id':visa.id}) }}">مشاهده</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}