{% extends 'hrm/base.html.twig' %}

    {% block breadcrumb %}
        <ol class="breadcrumb mt-2">
            <li class="breadcrumb-item"><a class="" href="{{ path('home') }}">
                    <i class="fas fa-home"></i>
                    پورتال اصلی
                </a></li>
            <li class="breadcrumb-item text-primary">
                <i class="fas fa-warehouse"></i>
                {{ UserMGR.currentPosition.defaultArea.areaName}}
            </li>
            <li class="breadcrumb-item"><a class="" href="{{ path('apps') }}">
                    <i class="fal fa-window-alt"></i>
                    برنامه‌ها
                </a>
            </li>
            <li class="breadcrumb-item">{{ block('appName') }}</li>
            <li class="breadcrumb-item active">{{ block('title') }}</li>
        </ol>
    {% endblock %}

{% block title %}اطلاعات مسافر:{{ passenger.pname ~ ' ' ~ passenger.pfamily }}{% endblock %}
{% block pageBody %}
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                <i class="fas fa-user"></i>
                اطلاعات مسافر
            </a>
            <a class="nav-item nav-link" id="nav-scan-tab" data-toggle="tab" href="#nav-scan" role="tab" aria-controls="nav-scan" aria-selected="false">
                <i class="fas fa-file-archive"></i>
                اسکن مدارک هویتی
            </a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="container py-3">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <img class="img-fluid img-thumbnail" src="{{ asset('files/ProfilePic/' ~ passenger.pcodemeli ~ '.jpg') }}">
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="row">
                            <div class="col-12">
                                <p>
                                    هویت مسافر:
                                    <span class="alert alert-danger">{{ passenger.ptype.typeName }}</span>
                                </p>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <p>
                                    نام:
                                    <span class="text-danger">{{ passenger.pname }}</span>
                                </p>
                                <p>
                                    نام خانوادگی:
                                    <span class="text-danger">{{ passenger.pfamily }}</span>
                                </p>
                                <p>
                                    نام پدر:
                                    <span class="text-danger">{{ passenger.pfather }}</span>
                                </p>
                                <p>
                                    شماره شناسنامه:
                                    <span class="text-danger">{{ passenger.pshenasname }}</span>
                                </p>
                                <p>
                                    کد ملی:
                                    <span class="text-danger">{{ passenger.pcodemeli }}</span>
                                </p>
                                <p>
                                    پایان اعتبار گذرنامه:
                                    <span class="text-danger">{{ passenger.passportExpireDate }}</span>
                                </p>

                            </div>
                            <div class="col-sm-12 col-md-6">
                                <p>
                                    Name:
                                    <span class="text-danger">{{ passenger.lname }}</span>
                                </p>
                                <p>
                                    FamilyName:
                                    <span class="text-danger">{{ passenger.lfamily }}</span>
                                </p>
                                <p>
                                    Father Name:
                                    <span class="text-danger">{{ passenger.lfather }}</span>
                                </p>
                                <p>
                                    National Code:
                                    <span class="text-danger">{{ passenger.pcodemeli }}</span>
                                </p>
                                <p>
                                    Passport Number:
                                    <span class="text-danger">{{ passenger.PassNo }}</span>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <h5 class="text-success">اطلاعات تماس</h5>
                <div class="col-12 pt-1">
                    شماره همراه:
                    {{ passenger.tel1 }}
                </div>
                <div class="col-12 pt-1">
                    تلفن ثابت:
                    {{ passenger.tel2 }}
                </div>
                <div class="col-12 pt-1">
                    شماره شبکه های اجتماعی:
                    {{ passenger.tel3 }}
                </div>
                <div class="col-12 pt-1">
                    نشانی:
                    {{ passenger.adr }}
                </div>
                <div class="col-12 pt-1">
                    کد پستی:
                    {{ passenger.postalCode }}
                </div>
            </div>
        </div>
        <div class="tab-pane fade show" id="nav-scan" role="tabpanel" aria-labelledby="nav-scan-tab">
            {{ form_start(form) }}
            <h5 class="text-success pt-3">اسکن مدارک شناسایی:
                <i class="fas fa-question-square" onclick="SysLoadMsg('1006');"></i>
            </h5>
            <hr>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    {{ form_widget(form.docType) }}
                </div>
                <div class="col-sm-12 col-md-6">
                    <span class="ti"></span>
                    {{ form_widget(form.docName) }}
                    <script>
                        $('input[type="file"]').change(function(e){
                            var fileName = e.target.files[0].name;
                            $('.ti').html(fileName);
                        });
                    </script>

                </div>
            </div>
            <br>
            {{ form_widget(form.submit) }}
            {{ form_end(form) }}
            {% if docs | length != 0 %}
                <hr>
                <h5 class="text-success">اسکن مدارک:</h5>
                <div class="row">
                    {% for doc in docs %}
                        <div class="col-3">
                            <a href="{{ asset('files/' ~ doc.docName) }}" data-lightbox="image-1" data-title="{{ doc.docType.tname }}"><img  style="max-height: 250px" class="img-thumbnail" src="{{ asset('files/' ~ doc.docName) }}"></a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <hr>
                <h5 class="text-warning">تاکنون هیچ یک از اسناد را ارسال نکرده اید.</h5>
            {% endif %}
        </div>
    </div>
{% endblock %}