{% extends 'hrm/base.html.twig' %}

{% block title %}وضعیت ویزای پرسنل{% endblock %}

{% block appTop %}

{% endblock %}

{% block pageBody %}
    <div class="p-2">
        <div class="table-responsive">
            <table class="table table-sm table-striped table-bordered datatable-select-inputs table-hover rounded text-center">
                <thead class="bg-blue text-light">
                <tr>
                    <th>ردیف</th>
                    <th>نام و نام خانوادگی</th>
                    <th>زیرمجموعه</th>
                    <th>نوع</th>
                    <th>کد ملی</th>
                    <th>شروع ویزا</th>
                    <th>اتمام ویزا</th>
                    <th>وضعیت ویزا</th>
                </tr>
                </thead>
                <tbody class="">
                {% for visa in visas %}
                    <tr class="">
                        <td>{{ loop.index }}</td>
                        <td>{{ visa.passenger.pname ~ ' ' ~ visa.passenger.pfamily }}</td>
                        <td>{{ visa.passenger.submitter.userID.fullname }}</td>
                        <td>{{ visa.passenger.ptype.typeName  }}</td>
                        <td>{{ visa.passenger.pcodemeli  }}</td>
                        {%  set expp = visa.dateEnd | replace({'/': ''}) %}
                        <td>{{ visa.dateStart  }}</td>
                        <td>{{ visa.dateEnd  }}</td>
                        <td>
                            {% if  (expp) < timeNow %}
                                <span class="badge badge-danger">فاقد اعتبار</span>
                            {% elseif  (expp) < (timeNow + 90) %}
                                <span class="badge badge-warning">کمتر از سه ماه</span>
                            {% else %}
                                <span class="badge badge-success">دارای اعتبار</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}