{% extends 'hrm/base.html.twig' %}
{% block title %}لیست گزارشات کارگزینی{% endblock %}
{% block pageBody %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action flex-column align-items-start active" href="">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-2 tx-14">گزارشات پرسنل</h5><small><i class="fas fa-2x fa-user-friends"></i></small>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action flex-column align-items-start" href="{{ path('HRMEMployeREport',{'type':0}) }}">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-2 tx-14"> پرسنل سازمانی</h5><small><i class="fas fa-chart-pie"></i></small>
                        </div>
                        <p class="mb-1 tx-13">لیست پرسنل سازمان</p>
                    </a>
                    <a class="list-group-item list-group-item-action flex-column align-items-start" href="{{ path('HRMEMployeREport',{'type':1}) }}">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-2 tx-14"> پرسنل پیمانکار</h5><small><i class="fas fa-chart-pie"></i></small>
                        </div>
                        <p class="mb-1 tx-13">لیست پرسنل پیمانکار</p>
                    </a>
                    <a class="list-group-item list-group-item-action flex-column align-items-start" href="{{ path('HRMConsctractorPersons') }}">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-2 tx-14"> پرسنل زیر مجموعه پیمانکاران</h5><small><i class="fas fa-chart-pie"></i></small>
                        </div>
                        <p class="mb-1 tx-13">لیست کلیه پرسنل زیرمجموعه پیمانکاران </p>
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action flex-column align-items-start active" href="">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-2 tx-14">گزارشات ویزا</h5><small><i class="fab fa-2x fa-cc-visa"></i></small>
                        </div>
                    </a>
                    {% set des = EntityMGR.findAll('App:CMVisaCountry') %}
                    {% for de in des %}
                    <a class="list-group-item list-group-item-action flex-column align-items-start" href="{{ path('HRMVisaReport',{'countryID': de.id }) }}">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-2 tx-14"> کشور {{ de.countryName }}</h5><small><i class="fas fa-chart-line"></i></small>
                        </div>
                        <p class="mb-1 tx-13">مشاهده وضعیت ویزا کشور {{ de.countryName }}</p>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action flex-column align-items-start active" href="">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-2 tx-14">گزارشات گذرنامه</h5><small><i class="fas fa-2x fa-passport"></i></small>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action flex-column align-items-start" href="{{ path('HRMPassportList',{'type':0}) }}">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-2 tx-14"> وضعیت گذرنامه</h5><small><i class="fas fa-chart-pie"></i></small>
                        </div>
                        <p class="mb-1 tx-13">وضعیت گذرنامه پرسنل شرکت</p>
                    </a>
                    <a class="list-group-item list-group-item-action flex-column align-items-start" href="{{ path('HRMPassportList',{'type':1}) }}">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-2 tx-14"> وضعیت گذرنامه</h5><small><i class="fas fa-chart-pie"></i></small>
                        </div>
                        <p class="mb-1 tx-13">وضعیت گذرنامه پرسنل پیمانکاران</p>
                    </a>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
