{% extends 'suggestion/base.html.twig' %}

{% block title %}داشبورد نظام پیشنهادات و انتقادات{% endblock %}

{% block pageBody %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 align-items-stretch">
                <div class="card">
                    <div class="card-header">
                        نمودار ارجاعات
                    </div>
                    <div class="card-body">
                        <div class="chart-container">
                            <canvas id="myChart1"></canvas>
                        </div>
                        <script>

                            var ctx = document.getElementById('myChart1');
                            var color = Chart.helpers.color;
                            Chart.defaults.global.defaultFontFamily = 'Shabnam FD';
                            window.chartColors = {
                                red: 'rgb(255, 99, 132)',
                                orange: 'rgb(255, 159, 64)',
                                yellow: 'rgb(255, 205, 86)',
                                green: 'rgb(75, 192, 192)',
                                blue: 'rgb(54, 162, 235)',
                                purple: 'rgb(153, 102, 255)',
                                grey: 'rgb(201, 203, 207)'
                            };
                            var myChart = new Chart(ctx, {
                                type: 'pie',
                                data: {
                                    labels: ['کل ارجاعات','خوانده نشده'],
                                    datasets: [
                                        {
                                            borderWidth: 1,
                                            data: [{{ refAll }},{{ refUnread }}],
                                            backgroundColor: [
                                                color(window.chartColors.gray).alpha(0.5).rgbString(),
                                                color(window.chartColors.orange).alpha(0.5).rgbString(),
                                            ]

                                        }

                                    ]
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 align-items-stretch">
                <div class="card">
                    <div class="card-header">
                        نمودار تعداد پیشنهادات و انتقادات
                    </div>
                    <div class="card-body">
                        <div class="chart-container">
                            <canvas id="myChart"></canvas>
                        </div>
                        <script>

                            var ctx = document.getElementById('myChart');
                            var color = Chart.helpers.color;
                            Chart.defaults.global.defaultFontFamily = 'Shabnam FD';
                            window.chartColors = {
                                red: 'rgb(255, 99, 132)',
                                orange: 'rgb(255, 159, 64)',
                                yellow: 'rgb(255, 205, 86)',
                                green: 'rgb(75, 192, 192)',
                                blue: 'rgb(54, 162, 235)',
                                purple: 'rgb(153, 102, 255)',
                                grey: 'rgb(201, 203, 207)'
                            };
                            var myChart = new Chart(ctx, {
                                type: 'pie',
                                data: {
                                    labels: ['پیشنهاد و راهکار','انتقاد'],
                                    datasets: [
                                        {
                                            borderWidth: 1,
                                            data: [{{ type1Count }},{{ type2Count }}],
                                            backgroundColor: [
                                                color(window.chartColors.blue).alpha(0.5).rgbString(),
                                                color(window.chartColors.red).alpha(0.5).rgbString(),
                                                ]

                                        }

                                    ]
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 align-items-stretch">
                <div class="card">
                    <div class="card-header">
                        آمار و اطلاعات
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <p>
                                    تعداد کل انتقادات:
                                    <span class="text-danger">{{ type2Count }}</span>
                                    مورد
                                </p>
                                <p>
                                    تعداد کل پیشنهادات و راهکارها:
                                    <span class="text-success">{{ type1Count }}</span>
                                    مورد
                                </p>
                                <p>
                                    تعداد کل ارجاعات:
                                    <span class="text-success">{{ refAll }}</span>
                                    مورد
                                </p>
                                <p>
                                    ارجاعات خوانده نشده:
                                    <span class="text-success">{{ refUnread }}</span>
                                    مورد
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
