{% extends 'withNavbar.html.twig' %}

{% block title %}برنامه‌ها{% endblock %}

{% block pageBody %}
    <!-- Page Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 pb-2">
                <div class="card">
                    <img class="card-img-top" src="{{ asset('assets/images/apps/automation.jpg') }}">
                    <div class="card-body text-center">
                        <p class="text-primary text-center">
                            سامانه مکاتبات سازمانی
                        </p>
                        <a href="http://oas.prgco.ir/menu/" class="btn btn-sm btn-success">
                            <i class="fal fa-external-link"></i>
                            ورود به کارتابل
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 pb-2">
                <div class="card">
                    <img class="card-img-top" src="{{ asset('assets/images/apps/online_ding.jpg') }}">
                    <div class="card-body text-center">
                        <p class="text-primary text-center">
                            سامانه مدیریت کارکنان
                        </p>
                        <a href="http://edari.prgco.ir:8091/Account/Login" class="btn btn-sm btn-success">
                            <i class="fal fa-external-link"></i>
                            ورود به سامانه
                        </a>
                    </div>
                </div>
            </div>
            {% if UserMGR.hasPermission('newsPublish','NEWS') == true %}
                <div class="col-xs-12 col-sm-12 col-md-3 pb-2">
                    <div class="card">
                        <img class="card-img-top" src="{{ asset('assets/images/apps/e-publish.jpg') }}">
                        <div class="card-body text-center">
                            <p class="text-primary text-center">
                                سامانه انتشار خبر
                            </p>
                            <a href="{{ path('newsDashboard') }}" class="btn btn-sm btn-success">
                                اجرا برنامه
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if UserMGR.hasPermission('projectAdmin','PROJECT') == true %}
                <div class="col-xs-12 col-sm-12 col-md-3 pb-2">
                    <div class="card">
                        <img class="card-img-top" src="{{ asset('assets/images/apps/pm.jpg') }}">
                        <div class="card-body text-center">
                            <p class="text-primary text-center">
                                سامانه کنترل پروژه کل
                            </p>
                            <a href="{{ path('projectAdminDashboard') }}" class="btn btn-sm btn-success">
                                اجرا برنامه
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if UserMGR.isLogedIn() %}
            <hr>
            <h4 class="pb-2">ناحیه کاری: <span class="text-danger">{{ area.areaName }}</span> </h4>
            <div class="row">
                {% if UserMGR.hasPermission('ictRequest','ICT',null,area.id) == true %}
                    <div class="col-xs-12 col-sm-12 col-md-2 pb-2">
                        <div class="card">
                            <img class="card-img-top" src="{{ asset('assets/images/apps/ict-request.jpg') }}">
                            <div class="card-body text-center">
                                <p class="text-primary text-center">
                                    درخواست خدمات ICT
                                </p>
                                <a href="{{ path('ictreqDashboard') }}" class="btn btn-sm btn-success">
                                    اجرا برنامه
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if UserMGR.hasPermission('ictDoing','ICT',null,area.id) == true %}
                    <div class="col-xs-12 col-sm-12 col-md-2 pb-2">
                        <div class="card">
                            <img class="card-img-top" src="{{ asset('assets/images/apps/ict-doing.jpg') }}">
                            <div class="card-body text-center">
                                <p class="text-primary text-center">
                                    مجری خدمات ICT
                                </p>
                                <a href="{{ path('ictDoingDashboard') }}" class="btn btn-sm btn-success">
                                    اجرا برنامه
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if UserMGR.hasPermission('pmAccess','PM',null,area.id) == true %}
                    <div class="col-xs-12 col-sm-12 col-md-2 pb-2">
                        <div class="card">
                            <img class="card-img-top" src="{{ asset('assets/images/apps/pm.jpg') }}">
                            <div class="card-body text-center">
                                <p class="text-primary text-center">
                                    سامانه کنترل پروژه
                                </p>
                                <a href="{{ path('ictDoingDashboard') }}" class="btn btn-sm btn-success">
                                    اجرا برنامه
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if UserMGR.hasPermission('CeremonailREQ','CEREMONIAL',null,area.id) == true %}
                    <div class="col-xs-12 col-sm-12 col-md-2 pb-2">
                        <div class="card">
                            <img class="card-img-top" src="{{ asset('assets/images/apps/ceremonial.jpg') }}">
                            <div class="card-body text-center">
                                <p class="text-primary text-center">
                                    سامانه درخواست تشریفات
                                </p>
                                <a href="{{ path('ceremonialREQDashboard') }}" class="btn btn-sm btn-success">
                                    اجرا برنامه
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}
