{% extends 'iso_form/base.html.twig' %}

{% block title %}آرشیو {{ formType }}ا{% endblock %}
{% block pageBody %}
    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover rounded text-center">
            <thead class="thead-dark">
            <tr>
                <th>ردیف</th>
                <th>عنوان</th>
                <th>نوع مدرک</th>
                <th>شناسه ایزو</th>
                <th>دسته بندی</th>
                <th>امکانات</th>
            </tr>
            </thead>
            <tbody class="">
            {% for file in files %}
                <tr class="">
                    <td>{{ loop.index }}</td>
                    <td>{{ file.title }}</td>
                    <td>{{ file.formType.typeName }}</td>
                    <td>{{ file.ISOCode }}</td>
                    <td>{{ file.cat.catName }}</td>
                    <td>
                        <a class="btn btn-success" href="{{ asset('files/' ~ file.fileID) }}">دریافت</a>
                        <a class="btn btn-sm btn-danger" href="{{ path('isoformsDeleteFile',{'id':file.id}) }}">حذف</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}