{% extends 'cma/DOINGbase.html.twig' %}

{% block title %}لیست بلیط‌های درخواستی{% endblock %}

{% block pageBody %}
    <div class="table-responsive">
        <table class="table table-data table-sm table-striped table-bordered table-hover rounded text-center">
            <thead class="bg-blue text-light">
            <tr>
                <th>ردیف</th>
                <th>درخواست کننده</th>
                <th>مبدا</th>
                <th>مقصد</th>
                <th>وضعیت بلیط</th>
                <th>تاریخ درخواست</th>
                <th>امکانات</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
                <tr class="{% if ticket.ticketState.stateCode == 2 %}bg-success{% elseif ticket.ticketState.stateCode == -1 %}bg-danger{% endif %}">
                    <td class="w-auto">{{ loop.index }}</td>
                    <td class="w-auto">{{ ticket.submitter.publicLabel }}</td>
                    <td class="w-auto">{{ ticket.source.cname }}</td>
                    <td class="w-auto">{{ ticket.destination.cname }}</td>
                    <td class="w-auto">{{ ticket.ticketState.stateName }}</td>
                    <td class="w-auto">{{ Jdate.jdate('Y/n/d',ticket.dateSubmit) }}</td>
                    <td class="select-w200px">
                        <a class="btn btn-info rounded btn-small" href="{{ path('ceremonialDOINGTicketView',{'id':ticket.id}) }}">مشاهده</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}