{% extends 'cmo/OPTbase.html.twig' %}

{% block title %}
{% if type == 'acp' %}
    درخواست‌های بلیط تایید شده
{% else %}
    آرشیو بلیط‌ها
{% endif %}
{% endblock %}
{% block appTop %}
<a class="btn btn-success border" href="{{ path('ceremonialOPTDashboard') }}">
        <i class="fas fa-chalkboard"></i>
        داشبورد
    </a>{% endblock %}
{% block pageBody %}
    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover rounded text-center">
            <thead class="bg-blue text-light">
            <tr>
                <th>ردیف</th>
                <th>درخواست کننده</th>
                <th>وضعیت بلیط</th>
                <th>تاریخ درخواست</th>
                <th>امکانات</th>
            </tr>
            </thead>
            <tbody class="">
            {% for ticket in tickets %}
                <tr class="{% if ticket.ticketState.stateCode == 2 %}bg-success text-light{% elseif ticket.ticketState.stateCode == -1 %}bg-danger text-light{% endif %}">
                    <td>{{ loop.index }}</td>
                    <td>{{ ticket.submitter.publicLabel }}</td>
                    <td>{{ ticket.ticketState.stateName }}</td>
                    <td>{{ Jdate.jdate('Y/n/d',ticket.dateSubmit) }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('ceremonialOPTTicketView',{'id':ticket.id}) }}">مشاهده</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}