{% extends 'cmo/OPTbase.html.twig' %}

{% block title %}درخواست بلیط از {{ ticket.source.cname }} به {{ ticket.destination.cname }}{% endblock %}
{% block appTop %}

    <a class="btn btn-success border" href="{{ path('ceremonialOPTAIRpaneList',{'type':'acp'}) }}">
        <i class="fa fa-undo"></i>
        بازگشت
    </a>
{% endblock %}
{% block pageBody %}
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                <i class="fas fa-receipt"></i>
                اطلاعات درخواست
            </a>
            <a class="nav-item nav-link" id="nav-accept-tab" data-toggle="tab" href="#nav-accept" role="tab" aria-controls="nav-accept" aria-selected="false">
                <i class="far fa-ticket-alt"></i>
                ثبت اطلاعات بلیط
                <div class="badge badge-danger">{% if ticket.fileID is not null %}1{% else %}0{% endif %}</div>
            </a>
            <a class="nav-item nav-link" id="nav-file-tab" data-toggle="tab" href="#nav-file" role="tab" aria-controls="nav-file" aria-selected="false">
                <i class="far fa-file-archive"></i>
                فایل و تصویر بلیط
                <div class="badge badge-danger">{% if ticket.fileID is not null %}1{% else %}0{% endif %}</div>
            </a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
                <i class="fas fa-history"></i>
                تاریخچه رویدادها
                <div class="badge badge-danger">{{ events | length }}</div>
            </a>
        </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="container py-3">
                <div class="row rounded border py-3 mb-2">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 pb-3 border-bottom">
                                <h3>
                                    وضعیت درخواست:
                                    <span class="text-success">{{ ticket.ticketState.stateName }}</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-sm-12 col-md-4">
                                <div class="card">
                                    <div class="card-header">
                                        <i class="fas fa-info-square"></i>
                                        اطلاعات درخواست:
                                    </div>
                                    <div class="card-body">
                                        <p>
                                            درخواست کننده:
                                            <span class="text-danger">{{ ticket.submitter.publicLabel }}</span>
                                        </p>
                                        <p>
                                            تاریخ درخواست:
                                            <span class="text-danger">{{ Jdate.jdate('Y/n/d H:i:s',ticket.dateSubmit) }}</span>
                                        </p>
                                        {% if ticket.suggestTime != null %}
                                            <p>
                                                زمان پیشنهادی:
                                                <span class="text-danger">{{ ticket.suggestTime.label }}</span>
                                            </p>
                                        {% endif %}
                                        <p>
                                            تاریخ سفر:
                                            <span class="text-danger">{{ ticket.dateSuggest }}</span>
                                        </p>
                                        <p>
                                            مبدا سفر:
                                            <span class="text-danger">{{ ticket.source.cname }}</span>
                                        </p>
                                        <p>
                                            مقصد سفر:
                                            <span class="text-danger">{{ ticket.destination.cname }}</span>
                                        </p>
                                        <p>
                                            وضعیت درخواست:
                                            <span class="text-danger">{{ ticket.ticketState.stateName }}</span>
                                        </p>
                                        <p>
                                            علت سفر:
                                            <span class="text-danger">{{ ticket.des }}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="card">
                                    <div class="card-header">
                                        <i class="fas fa-thumbs-up"></i>
                                        اقدامات و ارجاعات
                                    </div>
                                    <div class="card-body">
                                        {% if ticket.ticketState.StateCode == -1 %}
                                            <p>
                                                رد کننده:
                                                <span class="text-danger">{{ ticket.rejecter.publicLabel }}</span>
                                            </p>
                                            <p>
                                                تاریخ رد درخواست:
                                                <span class="text-danger">{{ Jdate.jdate('Y/n/d H:i:s',ticket.ARdate) }}</span>
                                            </p>
                                            {% if ticket.ARdes != null %}
                                                <p>
                                                    توضیحات:
                                                    <span class="text-danger">{{ ticket.ARdes }}</span>
                                                </p>
                                            {% endif %}
                                        {% endif %}
                                        {% if ticket.ticketState.StateCode == 1 or ticket.ticketState.StateCode == 2 %}
                                            <p>
                                                تایید کننده:
                                                <span class="text-success">{{ ticket.accepter.publicLabel }}</span>
                                            </p>
                                            <p>
                                                تاریخ تایید:
                                                <span class="text-success">{{ Jdate.jdate('Y/n/d H:i:s',ticket.ARdate) }}</span>
                                            </p>
                                            {% if ticket.ARdes != null %}
                                                <p>
                                                    توضیحات:
                                                    <span class="text-success">{{ ticket.ARdes }}</span>
                                                </p>
                                            {% endif %}
                                        {% endif %}
                                        {% if ticket.ticketState.StateCode == 2 %}
                                            <p>
                                                اقدام کننده:
                                                <span class="text-success">{{ ticket.buyer.publicLabel }}</span>
                                            </p>
                                            <p>
                                                تاریخ اقدام به خرید:
                                                <span class="text-success">{{ Jdate.jdate('Y/n/d H:i:s',ticket.buyDate) }}</span>
                                            </p>
                                        {% endif %}
                                        {% if ticket.ticketState.StateCode == 0 %}
                                            <div class="alert alert-info">
                                                <i class="fa fa-check"></i>
                                                تایید درخواست جهت خرید بلیط
                                            </div>
                                            <div class="btn-group btn-group" role="group" aria-label="Basic example">
                                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Acceptmodal">
                                                    <i class="fas fa-check-circle"></i>
                                                    تایید درخواست
                                                </button>
                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectmodal">
                                                    <i class="fas fa-times-circle"></i>
                                                    رد درخواست
                                                </button>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="card">
                                    <div class="card-header">
                                        <i class="fas fa-plane-departure"></i>
                                        اطلاعات بلیط:
                                    </div>
                                    <div class="card-body">
                                        {% if ticket.ticketState.StateCode == 2 %}
                                            <p>
                                                شرکت هواپیمایی:
                                                <span class="text-success">{{ ticket.FlyAirway.airwayName }}</span>
                                            </p>
                                            <p>
                                                تاریخ  پرواز:
                                                <span class="text-success">{{ ticket.flyDate }}</span>
                                            </p>
                                            <p>
                                                مبلغ:
                                                <span class="text-success">
                                            {{ ticket.moneyValue | number_format() }} {{ ticket.moneyType.moneyName }}
                                        </span>
                                            </p>
                                        {% endif %}
                                        {% if ticket.ticketState.StateCode == 0 %}
                                            <p>
                                                <i class="fa fa-info-square"></i>
                                                خرید بلیط انجام نشده است.
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row border">
                    <div class="col-12 p-2">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-users"></i>
                                فهرست مسافرین
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered table-hover rounded text-center">
                                        <thead class="bg-blue text-light">
                                        <tr>
                                            <th>ردیف</th>
                                            <th>نام و نام‌خانوادگی</th>
                                            <th>نام پدر</th>
                                            <th>تاریخ تولد</th>
                                            <th>ارتباط مسافر</th>
                                        </tr>
                                        </thead>
                                        <tbody class="">
                                        {% for passenger in passengers %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>{{ passenger.cmpassenger.pname }} {{ passenger.cmpassenger.pfamily }}</td>
                                                <td>{{ passenger.cmpassenger.pfather }}</td>
                                                <td>{{ passenger.cmpassenger.pbirthday }}</td>
                                                <td>{{ passenger.cmpassenger.ptype.typeName }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-accept" role="tabpanel" aria-labelledby="nav-accept-tab">
            <div class="container py-3">
                <div class="row">
                    <div class="col-sm-12 col-md-12 mx-auto text-center">
                        <div class="modal-body text-justify">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 pb-3">
                                    {% if ticket.ticketState.stateCode == 1 %}
                                        {{ form_start(form) }}
                                        <div class="row">
                                            <div class="col-sm-12 col-md-4">
                                                {{ form_label(form.flyAirway) }}
                                                {{ form_widget(form.flyAirway) }}
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                {{ form_label(form.flyDate) }}
                                                {{ form_widget(form.flyDate) }}
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-4">
                                                {{ form_label(form.moneyType) }}
                                                {{ form_widget(form.moneyType) }}
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                {{ form_label(form.moneyValue) }}
                                                {{ form_widget(form.moneyValue) }}
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                {{ form_label(form.fileID) }}
                                                {{ form_widget(form.fileID) }}
                                            </div>
                                        </div>
                                        <div class="row pt-2">
                                            <div class="col-12">
                                                {{ form_widget(form.submit) }}
                                                <a class="btn btn-secondary" href="{{ path('ceremonialOPTAIRpaneList',{'type':'acp'}) }}">بازگشت</a>
                                                {{ form_end(form) }}
                                            </div>
                                        </div>
                                    {% elseif ticket.ticketState.stateCode == 2 %}
                                        <div class="alert alert-warning">
                                            <span class="fa fa-info-circle"></span>
                                            با توجه به ثبت نهایی شدن وضعیت بلیط و ثبت اطلاعات خرید امکان ویرایش میسر نمی باشد.
                                        </div>
                                    {% else %}
                                        <div class="alert alert-warning">
                                            <span class="fa fa-info-circle"></span>
                                            این درخواست تاکنون تایید نشده است.
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-forward" role="tabpanel" aria-labelledby="nav-forward-tab">
            <div class="container py-3">
                <div class="row">
                    <div class="col-sm-12 col-md-12 mx-auto">
                        <div class="alert alert-secondary" role="alert">
                            <h4 class="alert-heading">
                                <i class="fas fa-save"></i>
                                ثبت درخواست
                            </h4>
                            <p> درخواست در {{ Jdate.jdate('Y/n/d H:i:s',ticket.dateSubmit) }}  توسط {{ ticket.submitter.publicLabel }} ثبت شد.</p>
                        </div>
                        {% if ticket.ticketState.StateCode == 1 or ticket.ticketState.StateCode == 2 %}
                            <div class="alert alert-info" role="alert">
                                <h4 class="alert-heading">
                                    <i class="fas fa-thumbs-up"></i>
                                    تایید درخواست
                                </h4>
                                <p> درخواست در {{ Jdate.jdate('Y/n/d H:i:s',ticket.ARdate) }}  توسط {{ ticket.accepter.publicLabel }} تایید شد.</p>
                            </div>
                        {% endif %}
                        {% if ticket.ticketState.StateCode == 2 %}
                            <div class="alert alert-success" role="alert">
                                <h4 class="alert-heading">
                                    <i class="fas fa-shopping-cart"></i>
                                    خرید بلیط
                                </h4>
                                <p> بلیط مورد درخواست در {{ Jdate.jdate('Y/n/d H:i:s',ticket.buyDate) }}  توسط {{ ticket.buyer.publicLabel }} خریداری شد.</p>
                            </div>
                        {% endif %}
                        {% if ticket.ticketState.StateCode == -1 %}
                            <div class="alert alert-danger" role="alert">
                                <h4 class="alert-heading">
                                    <i class="fas fa-window-close"></i>
                                    رد درخواست
                                </h4>
                                <p> درخواست در {{ Jdate.jdate('Y/n/d H:i:s',ticket.ARdate) }}  توسط {{ ticket.rejecter.publicLabel }} رد شد.</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-file" role="tabpanel" aria-labelledby="nav-file-tab">
            <div class="container py-3">
                <div class="row">
                    <div class="col-sm-12 col-md-12 mx-auto">
                        {% if ticket.fileID is null %}
                            <div class="alert alert-secondary">
                                <span class="fa fa-info-circle"></span>
                                تاکنون هیچ فایل یا تصویری ارسال نشده است.
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-sm-12 col-md-3 mx-auto">
                                    <div class="card">
                                        <img class="card-img-top" src="{{ asset('assets/images/public/ticket.png') }}">
                                        <div class="card-header bg-info text-light">
                                            <span class="fa fa-ticket-alt"></span>
                                            دریافت بلیط
                                        </div>
                                        <div class="card-body text-center">
                                            <a class="btn btn-success" href="{{ asset('files/' ~ ticket.fileID) }}" data-lightbox="image-1" data-title="تصویر بلیط">
                                                <span class="fa fa-download"></span>
                                                بارگزاری
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="container py-3">
                <div class="row">
                    <div class="col-sm-12 col-md-12 mx-auto">
                        <div class="table-responsive">
                            <table class="table table-sm table-bordered table-hover rounded text-center">
                                <thead class="bg-blue text-light">
                                <tr>
                                    <th>ردیف</th>
                                    <th>تاریخ</th>
                                    <th>نام کاربر</th>
                                    <th>توضیحات</th>
                                    <th>عملیات</th>
                                </tr>
                                </thead>
                                <tbody class="">
                                {% for event in events %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ Jdate.jdate('Y/n/d H:i:s',event.dateSubmit) }}</td>
                                        <td>{{ event.fullname }}</td>
                                        <td>{{ event.des }}</td>
                                        <td>{{ event.operation }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}