{% extends 'appSimple.html.twig' %}
{% block title %}دفترچه تلفن جدید{% endblock %}
{% block appBody %}
    <div class="card">
        <div class="card-header bg-info text-light">
            شماره تلفن جدید
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-sm-12 col-md-12 pb-2">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="col-sm-12 col-md-6 pb-2">
                    {{ form_label(form.tel1) }}
                    {{ form_widget(form.tel1) }}
                </div>
                <div class="col-sm-12 col-md-6 pb-2">
                    {{ form_label(form.tel2) }}
                    {{ form_widget(form.tel2) }}
                </div>
                <div class="col-sm-12 col-md-6 pb-2">
                    {{ form_label(form.mobile1) }}
                    {{ form_widget(form.mobile1) }}
                </div>
                <div class="col-sm-12 col-md-6 pb-2">
                    {{ form_label(form.mobile2) }}
                    {{ form_widget(form.mobile2) }}
                </div>
                <div class="col-sm-12 col-md-6 pb-2">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
                <div class="col-sm-12 col-md-12 pb-2">
                    {{ form_label(form.des) }}
                    {{ form_widget(form.des) }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    {{ form_widget(form.submit) }}
                    <a class="btn btn-warning" href="{{ path('phonebook',{'msg':0,'search':0}) }}">بازگشت</a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
