{% extends 'appSimple.html.twig' %}
{% block title %}
    :مشاهده مخاطب
    {{ user.username }}
{% endblock %}
{% block appBody %}
    <div class="card">
        <div class="card-header bg-info text-light">
            :مشاهده مخاطب
            {{ user.username }}
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <img class="img-thumbnail img-fluid" src="{{ asset('assets/images/public/user.png') }}">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8">
                    <h3>اطلاعات مخاطب</h3>
                    <hr>
                    <p>
                        نام و نام خانوادگی:
                        <span class="text-danger">{{ user.username }}</span>
                    </p>
                    <p>
                        تلفن1:
                        <span class="text-danger" style="direction: ltr">{{ user.tel1 }}</span>
                    </p>
                    <p>
                        تلفن2:
                        <span class="text-danger" style="direction: ltr;">{{ user.tel2 }}</span>
                    </p>
                    <p>
                        موبایل1:
                        <span class="text-danger" style="direction: ltr;">{{ user.mobile1 }}</span>
                    </p>
                    <p>
                        موبایل2:
                        <span class="text-danger" style="direction: ltr;">{{ user.mobile2 }}</span>
                    </p>
                    <p>
                        پست الکترونیکی:
                        <span class="text-danger" style="direction: ltr;">{{ user.email }}</span>
                    </p>
                    <p>
                        توضیحات:
                        <span class="text-danger">{{ user.des }}</span>
                    </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    {% if UserMGR.hasPermission('phonebookAdmin','PHONEBOOK') == true %}
                        <a class="btn btn-info" href="{{ path('phonebookEdit',{'id':user.id}) }}">
                            <i class="fa fa-edit"></i>
                            ویرایش
                        </a>
                        <a class="btn btn-danger" href="{{ path('phonebookRemove',{'id':user.id}) }}">
                            <i class="fas fa-trash-alt"></i>
                            حذف
                        </a>
                    {% endif %}
                    <a class="btn btn-warning" href="{{ path('phonebook',{'msg':0,'search':0}) }}">
                        <i class="fa fa-undo"></i>
                        بازگشت
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
