{% extends 'appBase.html.twig' %}
{% block appName %}سامانه اسکان اربعین{% endblock %}
{% block appMenu %}
    <div class="d-none d-lg-block sidebar border-left">
        <ul class="navbar-nav side-bg-btn py-3">
            <li class="nav-item side-bg-btn">
                <a class="nav-link side-btn" href="{{ path('cmarbainDashboard') }}">
                    <i class="fas fa-chalkboard"></i>
                    <span>داشبورد</span>
                </a>
            </li>
            <li class="nav-item side-bg-btn">
                <a class="nav-link side-btn" href="{{ path('cmarbainNewCard') }}">
                    <i class="fas fa-plus"></i>
                    <span>صدور کارت</span>
                </a>
            </li>
            <li class="nav-item side-bg-btn">
                <a class="nav-link side-btn" href="{{ path('cmarbainSearchInfoCard') }}">
                    <i class="fas fa-pallet"></i>
                    <span>تکمیل اطلاعات</span>
                </a>
            </li>
            <li class="nav-item side-bg-btn">
                <a class="nav-link side-btn" href="{{ path('cmarbainExitZaer') }}">
                    <i class="fas fa-undo"></i>
                    <span>خروج زائر</span>
                </a>
            </li>
            <li class="nav-item side-bg-btn">
                <a class="nav-link side-btn" href="{{ path('cmarbainListZaer') }}">
                    <i class="fas fa-list"></i>
                    <span>لیست زائرین</span>
                </a>
            </li>
            <li class="nav-item side-bg-btn">
                <a class="nav-link side-btn" href="{{ path('cmarbainReport') }}">
                    <i class="fas fa-chart-line"></i>
                    <span>گزارش</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="d-none d-sm-block d-md-block d-lg-none">
        <ul class="nav side-bg-btn py-3">
            <li class="nav-item side-bg-btn w-33">
                <a class="nav-link side-btn" href="{{ path('cmarbainDashboard') }}">
                    <i class="fas fa-chalkboard"></i>
                    <span>داشبورد</span>
                </a>
            </li>
            <li class="nav-item side-bg-btn w-33 border-right brd-color">
                <a class="nav-link side-btn" href="{{ path('cmarbainNewCard') }}">
                    <i class="fas fa-plus"></i>
                    <span>صدور کارت</span>
                </a>
            </li>
            <li class="nav-item side-bg-btn w-33 border-right brd-color">
                <a class="nav-link side-btn" href="{{ path('cmarbainSearchInfoCard') }}">
                    <i class="fas fa-pallet"></i>
                    <span>تکمیل اطلاعات</span>
                </a>
            </li>
            <li class="nav-item side-bg-btn w-33">
                <a class="nav-link side-btn" href="{{ path('cmarbainExitZaer') }}">
                    <i class="fas fa-undo"></i>
                    <span>خروج زائر</span>
                </a>
            </li>
            <li class="nav-item side-bg-btn w-33 border-right brd-color">
                <a class="nav-link side-btn" href="{{ path('cmarbainListZaer') }}">
                    <i class="fas fa-list"></i>
                    <span>لیست زائرین</span>
                </a>
            </li>
            <li class="nav-item side-bg-btn w-33 border-right brd-color">
                <a class="nav-link side-btn" href="{{ path('cmarbainReport') }}">
                    <i class="fas fa-chart-line"></i>
                    <span>گزارش</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="d-block d-sm-none">
        <ul class="nav side-bg-btn py-3">
            <li class="nav-item side-bg-btn w-50 brd-color">
                <a class="nav-link side-btn" href="{{ path('cmarbainDashboard') }}">
                    <i class="fas fa-chalkboard"></i>
                    <span>داشبورد</span>
                </a>
            </li>
            <li class="nav-item side-bg-btn w-50 border-right brd-color">
                <a class="nav-link side-btn" href="{{ path('cmarbainNewCard') }}">
                    <i class="fas fa-plus"></i>
                    <span>صدور کارت</span>
                </a>
            </li>
            <li class="nav-item side-bg-btn w-50 brd-color">
                <a class="nav-link side-btn" href="{{ path('cmarbainSearchInfoCard') }}">
                    <i class="fas fa-pallet"></i>
                    <span>تکمیل اطلاعات</span>
                </a>
            </li>
            <li class="nav-item side-bg-btn w-50 border-right brd-color">
                <a class="nav-link side-btn" href="{{ path('cmarbainExitZaer') }}">
                    <i class="fas fa-undo"></i>
                    <span>خروج زائر</span>
                </a>
            </li>
            <li class="nav-item side-bg-btn w-50 brd-color">
                <a class="nav-link side-btn" href="{{ path('cmarbainListZaer') }}">
                    <i class="fas fa-list"></i>
                    <span>لیست زائرین</span>
                </a>
            </li>
            <li class="nav-item side-bg-btn w-50 border-right brd-color">
                <a class="nav-link side-btn" href="{{ path('cmarbainReport') }}">
                    <i class="fas fa-chart-line"></i>
                    <span>گزارش</span>
                </a>
            </li>
        </ul>
    </div>

{% endblock %}
