{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Custom CSS -->
    <link href="{{ asset('assets/css/admin/sb-admin-2.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('adminDashboard') }}">ناحیه مدیریت</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{{ path('userLogout') }}"> <i class="fas fa-door-open"></i> خروج از سامانه </a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('adminDashboard') }}">
                                <i class="fas fa-home"></i>
                                صفحه اصلی
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('adminUsers') }}">
                                <i class="fas fa-user-cog"></i>
                                کاربران
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('adminPositions') }}">
                                <i class="fas fa-users"></i>
                                پست‌های سازمانی
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('adminGroups') }}">
                                <i class="fas fa-key"></i>
                                گروه‌های دسترسی
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('adminAries') }}">
                                <i class="fab fa-product-hunt"></i>
                                نواحی کاری
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('adminLogs') }}">
                                <i class="fas fa-history"></i>
                                تاریخچه
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('adminSettings') }}">
                                <i class="fas fa-cog"></i>
                                تنظیمات
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-danger" href="{{ path('adminSystemUpdate') }}">
                                <i class="fas fa-sync-alt"></i>
                                به روز رسانی
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home') }}">
                                <i class="fas fa-desktop-alt"></i>
                                ناحیه کاربری
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('userLogout') }}">
                                <i class="fas fa-door-open"></i>
                                خروج
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            {{ block('title') }}
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    {% block alerts %}
                                        {% if alerts is defined %}
                                            {% if alerts|length != 0 %}
                                                {% for alt in alerts %}
                                                    <div class="alert alert-{{ alt.type }}" role="alert">
                                                        {{ alt.message }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        {% endif %}
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                        {% block pageBody %}{% endblock %}
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
