{% extends 'admin/base.html.twig' %}

{% block title %}تنظیمات اتصالات بانک‌های اطلاعاتی{% endblock %}

{% block pageBody %}
    <div class="container-fluid">
        {{ form_start(form) }}
        <h4 class="text-primary">بانک اطلاعاتی فیش حقوقی از نرم افزار همکاران سیستم</h4>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <img class="img-thumbnail" src="{{ asset('assets/images/public/sg.png') }}" >
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        {{ form_label(form.HRM_SG_SERVERNAME) }}
                        {{ form_widget(form.HRM_SG_SERVERNAME) }}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        {{ form_label(form.HRM_SG_DATABASE) }}
                        {{ form_widget(form.HRM_SG_DATABASE) }}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        {{ form_label(form.HRM_SG_USERNAME) }}
                        {{ form_widget(form.HRM_SG_USERNAME) }}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        {{ form_label(form.HRM_SG_PASSWORD) }}
                        {{ form_widget(form.HRM_SG_PASSWORD) }}
                    </div>
                </div>
            </div>
        </div>
        <h4 class="text-primary pt-5">اطلاعات وب سرویس شرکت دنیای پردازش</h4>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <img class="img-thumbnail" src="{{ asset('assets/images/public/pw.png') }}" >
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="row pb-2">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        {{ form_label(form.HRM_PW_SERVERNAME) }}
                        {{ form_widget(form.HRM_PW_SERVERNAME) }}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        {{ form_label(form.HRM_PW_DATABASE) }}
                        {{ form_widget(form.HRM_PW_DATABASE) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-12">
                {{ form_widget(form.submit) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
