{% extends 'admin/base.html.twig' %}

{% block title %}گزینه‌های منو{% endblock %}
{% block appTop %}
    <a class="btn btn-success border" href="{{ path('adminMenuItemAdd') }}">
        <span class="fa fa-plus"></span>
        پیوند جدید
    </a>
{% endblock %}
{% block pageBody %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="table-responsive">
                    <table class="table table-sm table-striped table-bordered table-hover rounded text-center">
                        <thead class="bg-blue text-light">
                        <tr>
                            <th>ردیف</th>
                            <th>عنوان</th>
                            <th>اولویت</th>
                            <th>توضیحات</th>
                        </tr>
                        </thead>
                        <tbody class="">
                        {% for item in items %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ item.label }}</td>
                                <td>{{ item.upper }}</td>
                                <td>
                                    <a class="btn btn-warning" href="{{ path('adminMenuItemEdit',{'id':item.id}) }}">ویرایش</a>
                                    <a class="btn btn-danger" href="{{ path('adminMenuItemDelete',{'id':item.id}) }}">حذف</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
