{% extends 'admin/base.html.twig' %}

{% block title %}کاربران موجود در گروه دسترسی:{{ group.label }}{% endblock %}
{% block pageBody %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="card">
                    <div class="card-header bg-secondary text-light">
                        <b>افزودن کاربر به این گروه دسترسی</b>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8">
                <div class="alert alert-info">
                    <i class="fa fa-info-square"></i>
                    پست‌های سازمانی که صورت
                    <span class="badge badge-danger">از نقش کاربری</span>
                     تعریف شده است با توجه به نقش کاربری به این امکان دسترسی دارند و باید از بخش
                    <a class="btn btn-link" href="{{ path('adminRollsList') }}"> نقش‌های کاربری </a>
                    آن را کنترل کرد.
                </div>
                <div class="table-responsive">
                    <table class="table table-data table-sm table-striped table-bordered table-hover rounded text-center">
                        <thead class="bg-blue text-light">
                        <tr>
                            <th>ردیف</th>
                            <th>سمت کاربری</th>
                            <th>امکانات</th>
                        </tr>
                        </thead>
                        <tbody class="">
                        {% for position in positions %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ position.publicLabel }}</td>
                                {% if position.PermissionFromRoll == false %}
                                    <td><a class="btn btn-danger" href="{{ path('adminDeletePositionOfGroup',{'GID':group.id,'UID':position.id}) }}">حذف</a></td>
                                {% else %}
                                    <td><span class="badge badge-danger">از نقش کاربری</span></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
