{% extends 'admin/base.html.twig' %}

{% block title %}به روز رسانی سیستم{% endblock %}

{% block pageBody %}
    <p>
        جهت به روز رسانی سیستم ابتدا از اتصال اینترنت روی سرویس دهنده مطمئن شوید.سپس از دیتابیس نسخه پشتیبان تهیه کنید و به روز رسانی را شروع کنید.
    </p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {% if output|length > 0 %}
        <hr>
        <h4> پاسخ سرویس دهنده ... </h4>
        <pre style="direction: ltr; text-align: left">
            <b class="text-danger" style="font-family: Tahoma">دریافت فایل های به روز رسانی</b>
            {{ output.git }}
        </pre>
        <pre style="direction: ltr; text-align: left">
            <b class="text-danger" style="font-family: Tahoma">پاکسازی حافظه موقت سیستم</b>
            {{ output.cache }}
        </pre>
        <pre style="direction: ltr; text-align: left">
            <b class="text-danger" style="font-family: Tahoma">به روز رسانی بانک اطلاعاتی</b>
            {{ output.db }}
            <b class="text-success" style="font-family: Tahoma">همه چی اوکی شد.</b>
        </pre>
    {% endif %}
{% endblock %}
