{% extends 'admin/base.html.twig' %}

{% block title %}به روز رسانی سیستم{% endblock %}

{% block pageBody %}
    <p>
        جهت به روز رسانی سیستم ابتدا از اتصال اینترنت روی سرویس دهنده مطمئن شوید.سپس از دیتابیس نسخه پشتیبان تهیه کنید و به روز رسانی را شروع کنید.
    </p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <hr>
    <h4> پاسخ سرویس دهنده ... </h4>
    <pre style="direction: ltr; text-align: left">
        {{ output.git }}
    </pre>
    <pre style="direction: ltr; text-align: left">
        {{ output.cache }}
    </pre>
    <pre style="direction: ltr; text-align: left">
        {{ output.db }}
    </pre>
{% endblock %}
