{% extends 'admin/base.html.twig' %}

{% block title %}کاربران{% endblock %}
{% block appTop %}
    <a class="btn btn-success border" href="{{ path('adminNewUser') }}">
        <i class="far fa-user-plus"></i>
        کاربر جدید
    </a>
{% endblock %}
{% block pageBody %}
    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover rounded text-center">
            <thead class="thead-dark">
            <tr>
                <th>ردیف</th>
                <th>نام کاربری</th>
                <th>نام و نام‌خانوادگی</th>
                <th>تلفن تماس</th>
                <th>امکانات</th>
            </tr>
            </thead>
            <tbody class="">
            {% for user in users %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.fullName }}</td>
                    <td style="direction: ltr">{{ user.mobileNum }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('adminUserEditUser',{'id':user.id}) }}">ویرایش</a>
                        <a class="btn btn-warning" href="{{ path('adminUserChangepassword',{'id':user.id}) }}">تغییر کلمه عبور</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}