{% extends 'admin/base.html.twig' %}

{% block title %}تغییر کلمه عبور{% endblock %}

{% block pageBody %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                {{ form_start(form) }}
                {{ form_label(form.password) }}
                {{ form_widget(form.password) }}
                <hr>
                {{ form_widget(form.submit) }}
                <a class="btn btn-secondary" href="{{ path('adminUsers') }}">بازگشت</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
