{% extends 'admin/base.html.twig' %}

{% block title %}کاربران{% endblock %}
{% block javascripts%}

{% endblock %}
{% block pageBody %}

    <div class="">
        <a class="btn btn-success" href="{{ path('adminNewUser') }}">
            <i class="far fa-plus-square"></i>
            کاربر جدید
        </a>
    </div>
    <hr>
    <div class="table-responsive">
        <script>
            $(document).ready(function() {
                $('.table').DataTable({
                    "language": {
                        "url": "{{ asset('assets/datatable/farsi.json') }}"
                    }
                });
            } );
        </script>
        <table class="table table-sm table-bordered table-hover rounded text-center">
            <thead class="thead-dark">
            <tr>
                <th>ردیف</th>
                <th>نام کاربری</th>
                <th>نام و نام‌خانوادگی</th>
                <th>تلفن تماس</th>
                <th>امکانات</th>
            </tr>
            </thead>
            <tbody class="">
            {% for user in users %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.fullName }}</td>
                    <td style="direction: ltr">{{ user.mobileNum }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('adminUserEditUser',{'id':user.id}) }}">ویرایش</a>
                        <a class="btn btn-warning" href="{{ path('adminUserChangepassword',{'id':user.id}) }}">تغییر کلمه عبور</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}