{% extends 'appBase.html.twig' %}
{% block appName %}درخواست تشریفات{% endblock %}
{% block appMenu %}
<div class="main-profile-contact-list">
    <a class="" href="{{ path('ceremonialREQDashboard') }}">
        <div class="media">
            <div class="media-body">
                <span>داشبورد</span>
                <div>
                    صفحه اصلی
                </div>
            </div>
        </div>
    </a>
    <hr>
    <a class="" href="{{ path('ceremonialREQpasengerNew') }}">
        <div class="media">
            <div class="media-body">
                <span>مسافر جدید</span>
                <div>
                    افزودن مسافر جدید
                </div>
            </div>
        </div>
    </a>
    <hr>
    <a class="" href="{{ path('ceremonialREQpasengers') }}">
        <div class="media">
            <div class="media-body">
                <span>لیست مسافران</span>
                <div>
                    مشاهده لیست افراد
                </div>
            </div>
        </div>
    </a>
    <hr>
    <a class="" href="{{ path('ceremonialREQVisaList') }}">
        <div class="media">
            <div class="media-body">
                <span>درخواست‌های ویزا</span>
                <div>
                    آرشیو درخواست‌های ویزا
                </div>
            </div>
        </div>
    </a>
    <hr>
    <a class="" href="{{ path('ceremonialREQAIRpaneList') }}">
        <div class="media">
            <div class="media-body">
                <span>درخواست‌های بلیط هواپیما</span>
                <div>
                    آرشیو درخواست‌های بلیط
                </div>
            </div>
        </div>
    </a>
</div>
{% endblock %}


