{% extends 'appBase.html.twig' %}
{% block appName %}سامانه درخواست خدمات فناوری اطلاعات و ارتباطات{% endblock %}
{% block appMenu %}
    <div class="d-none d-lg-block">
        <ul class="navbar-nav side-bg-btn py-3">
            <li class="nav-item side-bg-btn">
                <a class="nav-link side-btn" href="{{ path('ictreqDashboard') }}">
                    <i class="fas fa-chalkboard"></i>
                    <span>داشبورد</span>
                </a>
            </li>
            <li class="nav-item side-bg-btn">
                <a class="nav-link side-btn" href="{{ path('ictreqNew') }}">
                    <i class="fas fa-plus"></i>
                    <span>درخواست جدید</span>
                </a>
            </li>
            <li class="nav-item side-bg-btn">
                <a class="nav-link side-btn" href="{{ path('ictreqArchive') }}">
                    <i class="fas fa-archive"></i>
                    <span>آرشیو درخواست‌ها</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="d-none d-sm-block d-md-block d-lg-none">
        <ul class="nav side-bg-btn py-3">
            <li class="nav-item side-bg-btn w-33">
                <a class="nav-link side-btn" href="{{ path('ictreqDashboard') }}">
                    <i class="fas fa-chalkboard"></i>
                    <span>داشبورد</span>
                </a>
            </li>
            <li class="nav-item side-bg-btn w-33 border-right brd-color">
                <a class="nav-link side-btn" href="{{ path('ictreqNew') }}">
                    <i class="fas fa-plus"></i>
                    <span>درخواست جدید</span>
                </a>
            </li>
            <li class="nav-item side-bg-btn w-33 border-right brd-color">
                <a class="nav-link side-btn" href="{{ path('ictreqArchive') }}">
                    <i class="fas fa-archive"></i>
                    <span>آرشیو درخواست‌ها</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="d-block d-sm-none">
        <ul class="nav side-bg-btn py-3">
            <li class="nav-item side-bg-btn w-50 brd-color">
                <a class="nav-link side-btn" href="{{ path('ictreqDashboard') }}">
                    <i class="fas fa-chalkboard"></i>
                    <span>داشبورد</span>
                </a>
            </li>
            <li class="nav-item side-bg-btn w-50 border-right brd-color">
                <a class="nav-link side-btn" href="{{ path('ictreqNew') }}">
                    <i class="fas fa-plus"></i>
                    <span>درخواست جدید</span>
                </a>
            </li>
            <li class="nav-item side-bg-btn w-50 border-right brd-color">
                <a class="nav-link side-btn" href="{{ path('ictreqArchive') }}">
                    <i class="fas fa-archive"></i>
                    <span>آرشیو درخواست‌ها</span>
                </a>
            </li>
        </ul>
    </div>

{% endblock %}


