{% extends 'ict/baseDoing.html.twig' %}

{% block title %}داشبورد مدیریت انفورماتیک{% endblock %}

{% block pageBody %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 align-items-stretch">
                <div class="card">
                    <img class="card-img-top" src="{{ asset('assets/images/apps/ict-doing.jpg') }}">
                    <div class="card-body text-center">
                        <p class="text-primary text-center">
                            تعداد درخواست‌های خدمات :
                            <span class="text-danger">
                                {{ reqCount }}
                            </span>
                        </p>
                        <p class="text-center">
                            <a class="btn btn-success" href="{{ path('ictDoingActiveRequests') }}">مشاهده درخواست‌ها</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 align-items-stretch">
                <div class="card">
                    <img class="card-img-top" src="{{ asset('assets/images/apps/ict-archive.jpg') }}">
                    <div class="card-body text-center">
                        <p class="text-primary text-center">
                            تعداد درخواست‌های بایگانی شده:
                            <span class="text-danger">
                                {{ reqArchiveCount }}
                            </span>
                        </p>
                        <p class="text-center">
                            <a class="btn btn-success" href="{{ path('ictDoingArchive') }}">بایگانی</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 align-items-stretch">
                <div class="card">
                    <div class="card-header bg-primary text-light">
                        <i class="fas fa-chart-pie"></i>
                        نمودار گردش‌کار
                    </div>
                    <div class="card-body">
                        <div class="chart-container">
                            <canvas id="myChart"></canvas>
                        </div>
                        <script>

                            var ctx = document.getElementById('myChart');
                            var color = Chart.helpers.color;
                            Chart.defaults.global.defaultFontFamily = 'Shabnam FD';
                            window.chartColors = {
                                red: 'rgb(255, 99, 132)',
                                orange: 'rgb(255, 159, 64)',
                                yellow: 'rgb(255, 205, 86)',
                                green: 'rgb(75, 192, 192)',
                                blue: 'rgb(54, 162, 235)',
                                purple: 'rgb(153, 102, 255)',
                                grey: 'rgb(201, 203, 207)'
                            };
                            var myChart = new Chart(ctx, {
                                type: 'pie',
                                data: {
                                    labels: ['خاتمه یافته','درحال بررسی','پاسخ داده شده'],
                                    datasets: [
                                        {
                                            borderWidth: 1,
                                            data: [
                                                {{ EntityMGR.findBy('App:ICTRequest',{'state':EntityMGR.findOneBy('App:ICTRequestState',{'stateCode':2})}) | length}},
                                                {{ EntityMGR.findBy('App:ICTRequest',{'state':EntityMGR.findOneBy('App:ICTRequestState',{'stateCode':1})}) | length}},
                                                {{ EntityMGR.findBy('App:ICTRequest',{'state':EntityMGR.findOneBy('App:ICTRequestState',{'stateCode':0})}) | length}},
                                            ],
                                            backgroundColor: [
                                                color(window.chartColors.blue).alpha(0.5).rgbString(),
                                                color(window.chartColors.red).alpha(0.5).rgbString(),
                                                color(window.chartColors.grey).alpha(0.5).rgbString(),
                                            ]

                                        }

                                    ]
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
