{% extends 'ict/baseDoing.html.twig' %}

{% block title %}لیست دستگاه ها و تجهیزات{% endblock %}
{% block pageBody %}
    <div class="table-responsive">
        <table class="table table-sm table-striped table-bordered table-hover rounded text-center">
            <thead class="bg-blue text-light">
            <tr>
                <th>ردیف</th>
                <th>نام و مدل دستگاه</th>
                <th>نوع دستگاه</th>
                <th>کد اموال</th>
                <th>تحویل گیرنده</th>
                <th>امکانات</th>
            </tr>
            </thead>
            <tbody class="">
            {% for machine in machines %}
                <tr class="">
                    <td>{{ loop.index }}</td>
                    <td>{{ machine.PCBrand }}</td>
                    <td>{{ machine.DeviceType }}</td>
                    <td>{{ machine.ProdectCode }}</td>
                    <td>{{ machine.publicLabel }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('ictDoingViewDevice',{'id':machine.id}) }}">مشاهده</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}