{% extends 'ict/base.html.twig' %}

{% block title %}آرشیو درخواست‌های اینفورماتیک{% endblock %}
{% block appTop %}
    <a class="btn btn-success border" href="{{ path('ictreqNew') }}">
        <span class="fa fa-plus"></span>
        درخواست جدید
    </a>
{% endblock %}
{% block pageBody %}
    <div class="table-responsive">
        <table class="table table-sm table-striped table-bordered table-hover rounded text-center">
            <thead class="bg-blue text-light">
            <tr>
                <th>ردیف</th>
                <th>نوع درخواست</th>
                <th>تاریخ ثبت</th>
                <th>وضعیت</th>
                <th>امکانات</th>
            </tr>
            </thead>
            <tbody class="">
            {% for request in requests %}
                <tr class="{% if request.state.stateName == 'در حال بررسی' %}bg-warning{% endif %}{% if request.state.stateName == 'در دست اقدام' %}bg-info{% endif %}{% if request.state.stateName == 'خاتمه یافته' %}bg-success{% endif %}">
                    <td>{{ loop.index }}</td>
                    <td>{{ request.requestType.typeName }}</td>
                    <td>{{ Jdate.jdate('Y/n/d در ساعت h:i',request.dateSubmit) }}</td>
                    <td>{{ request.state.stateName }}</td>
                    <td>
                        <a class="btn btn-secondary" href="{{ path('ictreqView',{'rid':request.id}) }}">مشاهده</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}