{% extends 'ict/base.html.twig' %}

{% block title %}مشاهده درخواست{% endblock %}
{% block pageBody %}
    <div class="container">
        <div class="row pb-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-info">
                        اطلاعات مربوط به درخواست
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <p>شماره درخواست: {{ request.id }}</p>
                                <p>درخواست کننده:{{ UserMGR.CurrentPosition.publicLabel }}</p>
                                <p> تاریخ درخواست:{{ Jdate.jdate('Y/n/d در ساعت h:i',request.dateSubmit) }}</p>
                                <p>اولویت:{{ request.EMS.stateName }}</p>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <p>وضعیت درخواست: {{ request.state.stateName }}</p>
                                <p>نوع درخواست:{{ request.requestType.typename }}</p>
                                <p>ناحیه کاری:{{ request.areaID.areaName }}</p>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 pb-2">
                                <p>وضعیت مشاهده:
                                    {% if request.seenTime == null %}
                                        <span class="text-danger">تاکنون مشاهده نشده است</span>
                                    {% else %}
                                        <span class="text-success">
                                             اولین بار در تاریخ
                                                {{ Jdate.jdate('Y/n/d در ساعت h:i',request.seenTime) }}
                                            توسط
                                                {{ request.seenID.publicLabel }}
                                        </span>
                                    {% endif %}
                                </p>
                                <p>وضعیت تایید اقدامات:
                                    {% if request.acceptDoing == null %}
                                        <span class="text-danger">اقدامات انجام شده از سوی شما تایید نشده است.</span>
                                    {% else %}
                                        <span class="text-success">
                                             اقدامات در
                                                {{ Jdate.jdate('Y/n/d در ساعت h:i',request.acceptDoingTime) }}
                                            توسط شما تایید شده است.

                                        </span>
                                    {% endif %}
                                </p>
                            </div>
                            {% if request.acceptDoing == null %}
                                <div class="col-12 text-center">
                                    {{ form_start(form) }}
                                    {{ form_widget(form.submit) }}
                                    {{ form_end(form) }}
                                </div>
                            {% endif %}

                        </div>
                        <hr>
                        <h5 class="text-primary">شرح درخواست:</h5>
                        <p>{{ request.des }}</p>
                    </div>
                </div>
            </div>

        </div>
        <hr>
        <h5 class="text-primary">اقدامات انجام شده:</h5>
        <div class="row pb-2">
            <div class="col-12">
                {% for replay in replays %}
                  <div class="card">
                      <div class="card-header bg-secondary text-light">
                          اقدام کننده:
                          {{ replay.submitter.publicLabel }}
                      </div>
                      <div class="card-body">
                          {{ replay.des }}
                      </div>
                      <div class="card-footer">
                          تاریخ اقدام:
                          {{ Jdate.jdate('Y/n/d در ساعت h:i',replay.dateSubmit) }}
                      </div>
                  </div>
                {% endfor %}
            </div>
        </div>
        <a class="btn btn-warning" href="{{ path('ictreqArchive') }}">بازگشت</a>
    </div>
{% endblock %}