{% extends 'ict/baseDoing.html.twig' %}

{% block title %}آرشیو درخواست‌های اینفورماتیک{% endblock %}
{% block pageBody %}
    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover rounded text-center">
            <thead class="thead-dark">
            <tr>
                <th>ردیف</th>
                <th>درخواست کننده</th>
                <th>نوع درخواست</th>
                <th>تاریخ ثبت</th>
                <th>وضعیت</th>
                <th>امکانات</th>
            </tr>
            </thead>
            <tbody class="">
            {% for request in requests %}
                <tr class="{% if request.state == 'در حال بررسی' %}bg-warning{% endif %}{% if request.state == 'در دست اقدام' %}bg-info{% endif %}{% if request.state == 'خاتمه یافته' %}bg-success{% endif %}">
                    <td>{{ loop.index }}</td>
                    <td>{{ request.submitter }}</td>
                    <td>{{ request.requestType }}</td>
                    <td>{{ Jdate.jdate('Y/n/d در ساعت h:i',request.dateSubmit) }}</td>
                    <td>{{ request.state }}</td>
                    <td>
                        <a class="btn btn-secondary" href="{{ path('ictdoingView',{'rid':request.id}) }}">مشاهده</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}