{% extends 'ict/baseDoing.html.twig' %}

{% block title %}مشاهده درخواست{% endblock %}
{% block pageBody %}
    <div class="container">
        <div class="row pb-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-info">
                        اطلاعات مربوط به درخواست
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <p>شماره درخواست: {{ request.id }}</p>
                                <p>درخواست کننده:{{ UserMGR.CurrentPosition.publicLabel }}</p>
                                <p> تاریخ درخواست:{{ Jdate.jdate('Y/n/d در ساعت h:i',request.dateSubmit) }}</p>
                                <p>اولویت:{{ request.EMS }}</p>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <p>وضعیت درخواست: {{ request.state }}</p>
                                <p>نوع درخواست:{{ request.requestType }}</p>
                                <p>دستگاه:<span class="text-danger">{{ request.MachineID }}</span> </p>
                                <p>ناحیه کاری:{{ EntityMGR.find('App:SysArea',UserMGR.CurrentPosition.defaultArea).areaName }}</p>
                            </div>
                        </div>
                        <hr>
                        <h5 class="text-primary">شرح درخواست:</h5>
                        <p>{{ request.des }}</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="card">
            <div class="card-header bg-primary text-light">
                ثبت اقدام
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-sm-12 col-md-6 pb-2">
                        {{ form_label(form.requestType) }}
                        {{ form_widget(form.requestType) }}
                    </div>
                    <div class="col-sm-12 col-md-12">
                        {{ form_label(form.des) }}
                        {{ form_widget(form.des) }}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        {{ form_widget(form.submit) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <hr>
        <h5 class="text-primary">اقدامات انجام شده:</h5>
        <div class="row pb-2">
            <div class="col-12">
                {% for replay in replays %}
                    <div class="card">
                        <div class="card-header bg-secondary text-light">
                            اقدام کننده:
                            {{ replay.submitter }}
                        </div>
                        <div class="card-body">
                            {{ replay.des }}
                        </div>
                        <div class="card-footer">
                            تاریخ اقدام:
                            {{ Jdate.jdate('Y/n/d در ساعت h:i',replay.dateSubmit) }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <a class="btn btn-warning" href="{{ path('ictDoingArchive') }}">بازگشت</a>
    </div>
{% endblock %}