{% extends 'cma/DOINGbase.html.twig' %}

{% block title %}{{ typeName }}{% endblock %}
{% block pageBody %}
    <div class="table-responsive">
        <table class="table table-sm table-striped table-bordered table-hover rounded text-center">
            <thead class="bg-blue text-light">
            <tr>
                <th>ردیف</th>
                <th>درخواست کننده</th>
                <th>مقصد</th>
                <th>وضعیت درخواست</th>
                <th>تاریخ درخواست</th>
                <th>امکانات</th>
            </tr>
            </thead>
            <tbody class="">
            {% for visa in visas %}
                <tr class="{% if visa.visaState.stateCode == 2 %}bg-success {% elseif visa.visaState.StateCode == -1 %}bg-danger{% endif %}">
                    <td class="w-auto">{{ loop.index }}</td>
                    <td class="w-auto">{{ visa.submitter.publicLabel }}</td>
                    <td class="w-auto">{{ visa.countryDes.countryName }}</td>
                    <td class="w-auto">{{ visa.visaState.stateName }}</td>
                    <td class="w-auto">{{ Jdate.jdate('Y/n/d',visa.dateSubmit) }}</td>
                    <td class="select-w200px">
                        <a class="btn btn-info rounded btn-small" href="{{ path('ceremonialDOINGVisaView',{'id':visa.id}) }}">مشاهده</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}