{% extends 'appBase.html.twig' %}
{% block appName %}تایید درخواست تشریفات{% endblock %}
{% block appMenu %}
    <div class="d-none d-lg-block sidebar border-left">
        <ul class="navbar-nav side-bg-btn py-3">
            <li class="nav-item side-bg-btn">
                <a class="nav-link side-btn" href="{{ path('ceremonialDOINGDashboard') }}">
                    <i class="fas fa-chalkboard"></i>
                    <span>داشبورد</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link side-btn dropdown-toggle" data-toggle="collapse" href="#ticketMenu" role="button" aria-expanded="false" aria-controls="ticketMenu">
                    <i class="fas fa-plane"></i>
                    <span>بلیط هواپیما</span>
                </a>
                <div id="ticketMenu" class="collapse multi-collapse">
                    <a class="nav-link side-btn-child" href="{{ path('ceremonialDOINGAIRpaneList',{'type':'acp'}) }}">درخواست‌های در انتظار</a>
                    <a class="nav-link side-btn-child" href="{{ path('ceremonialDOINGAIRpaneList',{'type':'all'}) }}">آرشیو درخواست‌ها</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link side-btn dropdown-toggle" data-toggle="collapse" href="#visaMenu" role="button" aria-expanded="false" aria-controls="visaMenu">
                    <i class="fas fa-passport"></i>
                    <span>درخواست‌های ویزا</span>
                </a>
                <div id="visaMenu" class="collapse multi-collapse">
                    <a class="nav-link side-btn-child" href="{{ path('ceremonialDOINGVisaList',{'type':'wfd'}) }}">درخواست‌های در انتظار</a>
                    <a class="nav-link side-btn-child" href="{{ path('ceremonialDOINGVisaList',{'type':'accepted'}) }}">درخواست‌های تایید شده</a>
                    <a class="nav-link side-btn-child" href="{{ path('ceremonialDOINGVisaList',{'type':'all'}) }}">آرشیو درخواست‌ها</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link side-btn" href="{{ path('ceremonialDOINGACCBalance') }}">
                    <i class="fas fa-chart-line"></i>
                    <span>گزارش مالی</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="d-none d-sm-block d-md-block d-lg-none">
        <ul class="nav side-bg-btn py-3">
            <li class="nav-item side-bg-btn w-33">
                <a class="nav-link side-btn" href="{{ path('ceremonialDOINGDashboard') }}">
                    <i class="fas fa-chalkboard"></i>
                    <span>داشبورد</span>
                </a>
            </li>
            <li class="nav-item side-bg-btn w-33 border-right brd-color dropdown">
                <a class="nav-link side-btn dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-plane"></i>
                    <span>بلیط هواپیما</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <a class="dropdown-item" href="{{ path('ceremonialDOINGAIRpaneList',{'type':'acp'}) }}">درخواست‌های در انتظار</a>
                    <a class="dropdown-item" href="{{ path('ceremonialDOINGAIRpaneList',{'type':'all'}) }}">آرشیو درخواست‌ها</a>
                </div>
            </li>
            <li class="nav-item side-bg-btn w-33 border-right brd-color dropdown">
                <a class="nav-link side-btn dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-passport"></i>
                    <span>درخواست‌های ویزا</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <a class="dropdown-item" href="{{ path('ceremonialDOINGVisaList',{'type':'wfd'}) }}">درخواست‌های در انتظار</a>
                    <a class="dropdown-item" href="{{ path('ceremonialDOINGVisaList',{'type':'accepted'}) }}">درخواست‌های تایید شده</a>
                    <a class="dropdown-item" href="{{ path('ceremonialDOINGVisaList',{'type':'all'}) }}">آرشیو درخواست‌ها</a>
                </div>
            </li>
            <li class="nav-item side-bg-btn w-33">
                <a class="nav-link side-btn" href="{{ path('ceremonialDOINGACCBalance') }}">
                    <i class="fas fa-chart-line"></i>
                    <span>گزارش مالی</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="d-block d-sm-none">
        <ul class="nav side-bg-btn py-3">
            <li class="nav-item side-bg-btn w-50">
                <a class="nav-link side-btn" href="{{ path('ceremonialDOINGDashboard') }}">
                    <i class="fas fa-chalkboard"></i>
                    <span>داشبورد</span>
                </a>
            </li>
            <li class="nav-item side-bg-btn w-50 border-right brd-color dropdown">
                <a class="nav-link side-btn dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-plane"></i>
                    <span>بلیط هواپیما</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <a class="dropdown-item" href="{{ path('ceremonialDOINGAIRpaneList',{'type':'acp'}) }}">درخواست‌های در انتظار</a>
                    <a class="dropdown-item" href="{{ path('ceremonialDOINGAIRpaneList',{'type':'all'}) }}">آرشیو درخواست‌ها</a>
                </div>
            </li>
            <li class="nav-item side-bg-btn w-50 dropdown">
                <a class="nav-link side-btn dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-passport"></i>
                    <span>درخواست‌های ویزا</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <a class="dropdown-item" href="{{ path('ceremonialDOINGVisaList',{'type':'wfd'}) }}">درخواست‌های در انتظار</a>
                    <a class="dropdown-item" href="{{ path('ceremonialDOINGVisaList',{'type':'accepted'}) }}">درخواست‌های تایید شده</a>
                    <a class="dropdown-item" href="{{ path('ceremonialDOINGVisaList',{'type':'all'}) }}">آرشیو درخواست‌ها</a>
                </div>
            </li>
            <li class="nav-item side-bg-btn border-right brd-color w-50">
                <a class="nav-link side-btn" href="{{ path('ceremonialDOINGACCBalance') }}">
                    <i class="fas fa-chart-line"></i>
                    <span>گزارش مالی</span>
                </a>
            </li>
        </ul>
    </div>

{% endblock %}


