{% extends 'cmr/REQbase.html.twig' %}

{% block title %}داشبورد درخواست تشریفات{% endblock %}
{% block appTop %}
    <i class="fas fa-question-square" onclick="SysLoadMsg('1005');"></i>
{% endblock %}
{% block pageBody %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 px-2 px-md-0">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <p class="mb-0">
                        برای درخواست "بلیط هواپیما و ویزا" ابتدا به بخش
                        فهرست مسافران مراجعه نمایید. سپس از امکان درخواست استفاده نمایید.
                    </p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span style="font-size: 1.2rem;" aria-hidden="true">&times;</span>
                    </button>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-4 col-lg-3 mb-3 mb-md-0 pr-2 pr-md-0 pl-2 pl-md-3 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-header">مسافران</div>
                    <a href="{{ path('ceremonialREQpasengers') }}" class="m-2 m-sm-3 m-md-4"><img class="card-img op-hover show fade" src="{{ asset('assets/images/cm/passengers.png') }}"></a>
                    <div class="card-body p-0">
                        <hr class=" mx-2 mx-sm-3 mt-0">
                        <p class="text-center mx-2 mx-sm-3">
                            <span class="w-100 text-wrap">
                                مسافرهای ثبت شده:
                            </span>
                            <span class="d-inline-block w-auto badge-danger badge-pill">
                                {{ EntityMGR.findBy('App:CMPassenger',{'submitter':UserMGR.CurrentPosition()}) | length}}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-3 mb-md-0 px-2 px-md-2 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-header">بلیط و تشریفات</div>
                    <a href="{{ path('ceremonialREQAIRpaneList') }}" class="m-2 m-sm-3 m-md-4"><img class="card-img op-hover show fade" src="{{ asset('assets/images/cm/tickets.png') }}"></a>
                    <div class="card-body p-0">
                        <hr class=" mx-2 mx-sm-3 mt-0">
                        <p class="text-center mx-2 mx-sm-3">
                            <span class="w-auto">
                                بلیط های خریداری شده:
                            </span>
                            <span class="d-inline-block w-auto badge-danger badge-pill">
                                {{ EntityMGR.findBy('App:CMAirTicket',{'submitter':UserMGR.CurrentPosition()}) | length}}
                            <span class="w-auto">
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-3 mb-md-0 pr-2 pr-md-3 pl-2 pl-md-0 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-header">ویزاها</div>
                    <a href="{{ path('ceremonialREQVisaList') }}" class="m-2 m-sm-3 m-md-4"><img class="card-img op-hover show fade" src="{{ asset('assets/images/cm/visas.png') }}"></a>
                    <div class="card-body p-0">
                        <hr class=" mx-2 mx-sm-3 mt-0">
                        <p class="text-center mx-2 mx-sm-3">
                            <span class="w-auto">
                                درخواست‌های ویزا:
                            </span>
                            <span class="d-inline-block w-auto badge-danger badge-pill">
                                {{ EntityMGR.findBy('App:CMVisaReq',{'submitter':UserMGR.CurrentPosition()}) | length}}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if EntityMGR.findBy('App:CMPassenger',{'submitter':UserMGR.CurrentPosition()}) | length == 0 %}
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-warning text-light">
                        <h5 class="modal-title" id="exampleModalCenterTitle">ثبت اطلاعات مسافر</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="text-success">
                            به سامانه درخواست تشریفات خوش آمدید.
                        </p>
                        <br>
                        اطلاعات شخصی شما تکمیل نشده است لطفا جهت ثبت اطلاعات کاربری
                        <a href="{{ path('ceremonialREQpasengerNew') }}">اینجا</a>
                         کلیک کنید.
                    </div>
                    <div class="modal-footer">
                        <a href="{{ path('ceremonialREQpasengerNew') }}" class="btn btn-primary">صفحه تکمیل اطلاعات</a>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function(){
                $('#exampleModalCenter').modal({
                    backdrop: 'static',
                    keyboard: false
                });
            });
        </script>
    {% endif %}
{% endblock %}
