{% extends 'cmr/REQbase.html.twig' %}

{% block title %}لیست مسافران{% endblock %}
{% block appTop %}
<a class="btn btn-primary" href="{{ path('ceremonialREQpasengerNew') }}">مسافر جدید</a>
{% endblock %}
{% block pageBody %}
    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover rounded text-center">
            <thead class="bg-blue text-light">
            <tr>
                <th onclick="toggleAllCheckboxes()">انتخاب</th>
                <th>ردیف</th>
                <th>نام و نام‌خانوادگی</th>
                <th>نام پدر</th>
                <th>کد ملی</th>
                <th>تاریخ تولد</th>
                <th>ارتباط</th>
                <th>نیاز به مجوز</th>
                <th>امکانات</th>
            </tr>
            </thead>
            <tbody>
            {% for passenger in passengers %}
                <tr class="trp{{ passenger.id }}">
                    <td class="select-w50px">
                        <div class="form-check">
                            <input class="CKBPassengers form-check-input position-static" type="checkbox"  id="CKBPassengers" value="{{ passenger.id }}" aria-label="انتخاب مسافر">
                        </div>
                    </td>
                    <td class="select-w50px">{{ loop.index }}</td>
                    <td>{{ passenger.pname }} {{ passenger.pfamily }}</td>
                    <td>{{ passenger.pfather }}</td>
                    <td>{{ passenger.pcodemeli }}</td>
                    <td>{{ passenger.pbirthday }}</td>
                    <td>{{ passenger.ptype.typeName }}</td>
                    <td>
                        {% if passenger.ptype.typeName == 'پرسنل شرکت' %}
                            <span class="text-danger">دارد</span>
                        {% else %}
                            <span class="text-success">ندارد</span>
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-primary rounded btn-small mb-1 m-md-0" href="{{ path('ceremonialREQpasengerView',{'id':passenger.id}) }}" title="مشاهده">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a class="btn btn-info rounded btn-small mb-1 m-md-0" href="{{ path('ceremonialREQpasengerEdit',{'id':passenger.id}) }}" title="ویرایش">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-sm btn-primary" type="button" onclick="visaReqPre();">
                <span class="spinner-visa spinner-grow spinner-grow-sm" hidden=hidden role="status" aria-hidden="true"></span>
                درخواست ویزا
            </button>
            <button class="btn btn-sm btn-primary" type="button" onclick="ticketReqPre();">
                <span class="spinner-ticket spinner-grow spinner-grow-sm" hidden=hidden role="status" aria-hidden="true"></span>
                درخواست بلیط هواپیما
            </button>
        </div>
    </div>
    <script>
        var toggledAll = false;

        function toggleAllCheckboxes(){
            if(toggledAll){
                $('.CKBPassengers').each(function(){ this.checked = false; });
                toggledAll = false;
            }
            else{
                $('.CKBPassengers').each(function(){ this.checked = true; });
                toggledAll = true;
            }
        }
        function visaReqPre(){
            var passengersID = [];
            $( ".CKBPassengers:checked" ).each(function( index ) {
                passengersID.push($( this ).val());
            });
            if(passengersID.length != 0)
            {
                $.ajax({
                    url: Routing.generate('ceremonialREQVisa', { 'ids':  passengersID.toString()  }),
                    beforeSend: function(){
                        $('.spinner-visa').removeAttr('hidden');
                    },
                    complete(){
                        $('.spinner-visa').attr('hidden','hidden');
                    },
                    success: function(data) {
                        if(data != 'error')
                        {
                            window.location.replace(Routing.generate('ceremonialREQCompleteVisaRequest', { 'id': data }),);
                        }
                        else
                        {
                            showModalNotification('هشدار','خطایی رخ داده است.ما در حال پیگیری موضوع هستیم و به زودی این درخواست بررسی می‌شود.','warning');

                        }

                    }
                });
            }
            else{
                showModalNotification('هشدار','هیچ مسافری انتخاب نشده است.لطفا ابتدا یک مسافر را انتخاب کنید.','warning');
            }
        }
        function ticketReqPre(){
            var passengersID = [];
            $( ".CKBPassengers:checked" ).each(function( index ) {
                passengersID.push($( this ).val());
            });

            if(passengersID.length != 0)
            {
                $.ajax({
                    url: Routing.generate('ceremonialAirticketRequest', { 'ids':  passengersID.toString()  }),
                    beforeSend: function(){
                        $('.spinner-ticket').removeAttr('hidden');
                    },
                    complete(){
                        $('.spinner-ticket').attr('hidden','hidden');
                    },
                    success: function(data) {
                        if(data != 'error')
                        {
                            window.location.replace(Routing.generate('ceremonialREQAIRpaneNew', { 'id': data }),);
                        }
                        else
                        {
                            window.location.replace(Routing.generate('home'));
                        }
                    }
                });
            }
            else{
                showModalNotification('هشدار','هیچ مسافری انتخاب نشده است.لطفا ابتدا یک مسافر را انتخاب کنید.','warning');
            }
        }
    </script>
{% endblock %}