{% extends 'cmr/REQbase.html.twig' %}

{% block title %}لیست مسافران{% endblock %}
{% block appTop %}
    <a class="btn btn-success border" href="{{ path('ceremonialREQpasengerNew') }}">
        <i class="fa fa-plus"></i>
        مسافر جدید
    </a>
{% endblock %}
{% block pageBody %}
    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover rounded text-center">
            <thead class="bg-blue text-light">
            <tr>
                <th onclick="toggleAllCheckboxes()">انتخاب</th>
                <th>ردیف</th>
                <th>نام و نام‌خانوادگی</th>
                <th>نام پدر</th>
                <th>تاریخ تولد</th>
                <th>امکانات</th>
            </tr>
            </thead>
            <tbody class="">
            {% for passenger in passengers %}
                <tr class="trp{{ passenger.id }}">
                    <td>
                        <div class="form-check">
                            <input class="CKBPassengers form-check-input position-static" type="checkbox"  id="CKBPassengers" value="{{ passenger.id }}" aria-label="انتخاب مسافر">
                        </div>
                    </td>
                    <td>{{ loop.index }}</td>
                    <td>{{ passenger.pname }} {{ passenger.pfamily }}</td>
                    <td>{{ passenger.pfather }}</td>
                    <td>{{ passenger.pbirthday }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('ceremonialREQpasengerView',{'id':passenger.id}) }}">مشاهده</a>
                        <a class="btn btn-warning" href="{{ path('ceremonialREQpasengerEdit',{'id':passenger.id}) }}">ویرایش</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary" type="button" onclick="showModal('visaReq();','info')">
                <span class="spinner-grow spinner-grow-sm" hidden=hidden role="status" aria-hidden="true"></span>
                درخواست ویزا
            </button>
        </div>
    </div>
    <script>
        var toggledAll = false;

        function toggleAllCheckboxes(){
            if(toggledAll){
                $('.CKBPassengers').each(function(){ this.checked = false; });
                toggledAll = false;
            }
            else{
                $('.CKBPassengers').each(function(){ this.checked = true; });
                toggledAll = true;
            }
        }
        function visaReq() {
            var passengersID = [];
            $( ".CKBPassengers:checked" ).each(function( index ) {
                passengersID.push($( this ).val());
            });
            if(passengersID.length != 0)
            {
                console.log(passengersID);
                $.ajax({
                    url: Routing.generate('ceremonialREQVisa', { 'ids':  passengersID.toString()  }),
                    beforeSend: function(){
                        $('.spinner-grow').removeAttr('hidden');
                    },
                    complete(){
                        $('.spinner-grow').attr('hidden','hidden');
                    },
                    success: function(data) {
                        if(data != 'error')
                        {
                            window.location.replace(Routing.generate('ceremonialREQCompleteVisaRequest', { 'id': data }),);
                        }
                        else
                        {
                            window.location.replace(Routing.generate('home'));
                        }

                    }
                });
            }

        }
    </script>
{% endblock %}