{% extends 'hrm/base.html.twig' %}

{% block title %}درخواست‌های ویزا{% endblock %}

{% block appTop %}
    <a class="btn btn-outline-light" href="{{ path('HRMadmin') }}">
        بازگشت
    </a>
{% endblock %}

{% block pageBody %}
    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover rounded text-center">
            <thead class="bg-blue text-light">
            <tr>
                <th>ردیف</th>
                <th>شماره درخواست</th>
                <th>درخواست کننده</th>
                <th>وضعیت درخواست</th>
                <th>تاریخ درخواست</th>
                <th>امکانات</th>
            </tr>
            </thead>
            <tbody class="">
            {% for visa in visas %}
                <tr class="{% if visa.visaState.stateCode == 1 %} row-bg-success {% elseif visa.visaState.StateCode == -1 %} row-bg-danger {% endif %}">
                    <td class="w-auto">{{ loop.index }}</td>
                    <td class="w-auto">{{ visa.id }}</td>
                    <td class="w-auto">{{ visa.submitter.publicLabel }}</td>
                    <td class="w-auto">{{ visa.visaState.stateName }}</td>
                    <td class="w-auto">{{ Jdate.jdate('Y/n/d',visa.dateSubmit) }}</td>
                    <td class="select-w200px">
                        <a class="btn btn-info rounded btn-small" href="{{ path('HRMVisaView',{'id':visa.id}) }}">مشاهده</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}