{% extends 'hoteling/OPTbase.html.twig' %}

{% block title %}اتاق جدید{% endblock %}
{% block pageBody %}
    <div class="row">
        <div class="col-sm-12 col-md-4 pb-3 label-reset">
            {{ form_start(form) }}
            {{ form_label(form.num) }}
            {{ form_widget(form.num) }}
        </div>
        <div class="col-sm-12 col-md-4 pb-3 label-reset">
            {{ form_label(form.dep) }}
            {{ form_widget(form.dep) }}
        </div>
        <div class="col-sm-12 col-md-4 pb-3 label-reset">
            {{ form_label(form.WC) }}
            {{ form_widget(form.WC) }}
        </div>
    </div>
    <hr>
    <div class="row mt-2">
        <div class="col-12">
            {{ form_widget(form.submit) }}
            <a class="btn btn-info" href="{{ path('hotelingRoomsList',{'id':hotel.id}) }}">
                <i class="fa fa-undo"></i>
                بازگشت
            </a>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}