{% extends 'appBase.html.twig' %}
{% block appName %}اپراتوری اسکان و اقامت{% endblock %}
{% block appMenu %}
<div class="d-none d-lg-block sidebar border-left">
    <ul class="navbar-nav side-bg-btn py-3">
        <li class="nav-item side-bg-btn">
            <a class="nav-link side-btn" href="{{ path('hotelingOPTDashboard') }}">
                <i class="fas fa-chalkboard"></i>
                <span>داشبورد</span>
            </a>
        </li>
        <li class="nav-item side-bg-btn">
            <a class="nav-link side-btn" href="{{ path('hotelingHotelAddHotel') }}">
                <i class="fa fa-plus"></i>
                افزودن هتل جدید
            </a>
        </li>
        <li class="nav-item side-bg-btn">
            <a class="nav-link side-btn" href="{{ path('hotelingHotelList') }}">
                <i class="fas fa-hotel"></i>
                <span>مراکز اسکان</span>
            </a>
        </li>
    </ul>
</div>
<div class="d-none d-sm-block d-md-block d-lg-none">
    <ul class="nav side-bg-btn py-3">
        <li class="nav-item side-bg-btn w-33">
            <a class="nav-link side-btn" href="{{ path('hotelingOPTDashboard') }}">
                <i class="fas fa-chalkboard"></i>
                <span>داشبورد</span>
            </a>
        </li>
        <li class="nav-item side-bg-btn w-33 border-right brd-color">
            <a class="nav-link side-btn" href="{{ path('hotelingHotelAddHotel') }}">
                <i class="fa fa-plus"></i>
                افزودن هتل جدید
            </a>
        </li>
        <li class="nav-item side-bg-btn w-33 border-right brd-color">
            <a class="nav-link side-btn" href="{{ path('hotelingHotelList') }}">
                <i class="fas fa-hotel"></i>
                <span>مراکز اسکان</span>
            </a>
        </li>
    </ul>
</div>
<div class="d-block d-sm-none">
    <ul class="nav side-bg-btn py-3">
        <li class="nav-item side-bg-btn w-50">
            <a class="nav-link side-btn" href="{{ path('hotelingOPTDashboard') }}">
                <i class="fas fa-chalkboard"></i>
                <span>داشبورد</span>
            </a>
        </li>
        <li class="nav-item side-bg-btn w-50 border-right brd-color">
            <a class="nav-link side-btn" href="{{ path('hotelingHotelAddHotel') }}">
                <i class="fa fa-plus"></i>
                افزودن هتل جدید
            </a>
        </li>
        <li class="nav-item side-bg-btn w-50">
            <a class="nav-link side-btn" href="{{ path('hotelingHotelList') }}">
                <i class="fas fa-hotel"></i>
                <span>مراکز اسکان</span>
            </a>
        </li>
    </ul>
</div>

{% endblock %}


