{% extends 'hoteling/OPTbase.html.twig' %}

{% block title %}داشبورد اپراتوری اسکان و اقامت{% endblock %}

{% block pageBody %}
<div class="container">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 align-items-stretch">
                    <div class="card">
                        <div class="card-header bg-primary text-light">
                            <i class="fas fa-chart-line"></i>
                            آمار و اطلاعات
                        </div>
                        <div class="card-body">
                            <p>
                                <i class="fa fa-hotel"></i>
                                تعداد هتل‌ها و اقامتگاه‌ها:
                                {{ hotels | length }}
                                هتل
                            </p>
                            <p>
                                <i class="fa fa-door-open"></i>
                                تعداد اتاق‌ها:
                                {{ roomsCount }}
                                اتاق
                            </p>
                            <p>
                                <i class="fa fa-user-friends"></i>
                                ظرفیت:
                                {{ dipAll }}
                                نفر
                            </p>
                            <p>
                                <i class="fa fa-calendar"></i>
                                مسافران امروز:
                                {{ passengerTodayAll }}
                                نفر
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="card">
                        <div class="card-header bg-primary text-white">گزارش اقامتگاه‌ها</div>
                        <div class="card-body">
                            <div class="chart-container">
                                <canvas id="myChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <script>

                        var ctx = document.getElementById('myChart');
                        var color = Chart.helpers.color;
                        Chart.defaults.global.defaultFontFamily = 'Shabnam FD';
                        window.chartColors = {
                            red: 'rgb(255, 99, 132)',
                            orange: 'rgb(255, 159, 64)',
                            yellow: 'rgb(255, 205, 86)',
                            green: 'rgb(75, 192, 192)',
                            blue: 'rgb(54, 162, 235)',
                            purple: 'rgb(153, 102, 255)',
                            grey: 'rgb(201, 203, 207)'
                        };
                        var myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: {{ hn | json_encode | raw }},
                                datasets: [
                                    {
                                        label: 'ظرفیت اقامتگاه',
                                        backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                                        borderColor: window.chartColors.red,
                                        borderWidth: 1,
                                        data: {{ hc | json_encode | raw }},
                                    },
                                    {
                                        label: 'مسافران امروز',
                                        backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                                        borderColor: window.chartColors.blue,
                                        borderWidth: 1,
                                        data: {{ hp | json_encode | raw}},
                                    }

                                ]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }],
                                    xAxes: [{
                                        barPercentage: 0.5,
                                        barThickness: 25,
                                        maxBarThickness: 25,
                                        minBarLength: 2,
                                        gridLines: {
                                            offsetGridLines: true
                                        }
                                    }]
                                },
                                legend: {
                                    labels: {
                                        // This more specific font property overrides the global property
                                        fontColor: 'black'
                                    }
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}
