{% extends 'hoteling/OPTbase.html.twig' %}

{% block title %}
ویرایش اتاق با شماره:
    {{ room.num }}
{% endblock %}
{% block pageBody %}
    <div class="row">
        <div class="col-sm-12 col-md-3 pb-3">
            {{ form_start(form) }}
            {{ form_label(form.dep) }}
            {{ form_widget(form.dep) }}
        </div>
        <div class="col-sm-12 col-md-3 pb-3">
            {{ form_label(form.WC) }}
            {{ form_widget(form.WC) }}
        </div>
        <div class="col-sm-12 col-md-3 pb-3">
            {{ form_label(form.canUse) }}
            {{ form_widget(form.canUse) }}
        </div>
    </div>
    <hr>
    <div class="row mt-2">
        <div class="col-12">
            {{ form_widget(form.submit) }}
            <a class="btn btn-info" href="{{ path('hotelingRoomsList',{'id':room.hotel.id}) }}">
                <i class="fa fa-undo"></i>
                بازگشت
            </a>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}