{% extends 'hoteling/OPTbase.html.twig' %}
{% block title %}
    ویرایش هتل:
    {{ hotel.hotelName }}
{% endblock %}{% block pageBody %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <img src="{{ asset('assets/images/public/hotel.jpg') }}" class="img-thumbnail">
                <hr>
            </div>
            <div class="col-sm-12 col-md-4">
                {{ form_start(form) }}
                {{ form_label(form.hotelName) }}
                {{ form_widget(form.hotelName) }}
                {{ form_label(form.adr) }}
                {{ form_widget(form.adr) }}
                {{ form_label(form.tel) }}
                {{ form_widget(form.tel,{'attr':{'class':'tel'}}) }}
                {{ form_label(form.des) }}
                {{ form_widget(form.des) }}
                <div class="row pt-3">
                    <div class="col-12">
                        {{ form_widget(form.submit) }}
                        <a class="btn btn-warning" href="{{ path('hotelingHotelList') }}">
                            <i class="fa fa-undo"></i>
                            بازگشت
                        </a>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}