{% extends 'hoteling/OPTbase.html.twig' %}

{% block title %}لیست اتاق‌های هتل:
{{ hotel.hotelName }}
{% endblock %}
{% block appTop %}
    <a class="btn btn-sm btn-warning" href="{{ path('hotelingHotelAddRoom',{'id':hotel.id}) }}">
        <i class="fa fa-plus"></i>
        افزودن اتاق جدید
    </a>
    <a class="btn btn-sm btn-outline-light" href="{{ path('hotelingHotelList') }}">
    <i class="fa fa-undo"></i>
     بازگشت به لیست اقامتگاه‌ها
</a>
{% endblock %}
{% block pageBody %}
    <div class="table-responsive">
        <table class="table table-sm table-striped table-bordered table-hover rounded text-center">
            <thead class="bg-blue text-light">
            <tr>
                <th>ردیف</th>
                <th>شماره اتاق</th>
                <th>ظرفیت(نفر)</th>
                <th>نوع توالت</th>
                <th>قابل استفاده</th>
                <th>امکانات</th>
            </tr>
            </thead>
            <tbody class="">
            {% for room in rooms %}
                <tr class="{% if room.canUse.typeCode == 0 %}bg-danger{% endif %}">
                    <td>{{ loop.index }}</td>
                    <td>{{ room.num }}</td>
                    <td>{{ room.dep }}</td>
                    <td>{{ room.WC.typeName }}</td>
                    <td>{{ room.canUse.typeName }}</td>
                    <td>
                        <a class="btn btn-warning" href="{{ path('hotelingHotelEditRoom',{'id':room.id}) }}"> ویرایش اتاق</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}