{% extends 'hsse/HSSEbase.html.twig' %}

{% block title %}
    ثبت ورود به بهداری برای
    {{ user.pname ~ ' ' ~ user.pfamily }}
    با کد ملی
    {{ user.pcodemeli }}
{% endblock %}

{% block appTop %}

{% endblock %}

{% block pageBody %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <img class="img-fluid img- img-fit-cover" src="{{ asset('files/ProfilePic/' ~ user.pcodemeli ~ '.jpg') }}">
            </div>
            <div class="col-sm-12 col-md-8">
                {{ form_start(form) }}
                {{ form_end(form) }}
            </div>
        </div>

    </div>
    <script>
        $(function() {
            $('.taginput').tagsInput({
                'delimiter': [',']
            });
        });
    </script>
{% endblock %}