{% extends 'hsse/HSSEbase.html.twig' %}

{% block title %}لیست درخواست‌های ویزا{% endblock %}
{% block pageBody %}
    <div class="table-responsive">
        <table class="table table-sm table-striped table-bordered table-hover rounded text-center">
            <thead class="bg-blue text-light">
            <tr>
                <th>ردیف</th>
                <th>نام و نام‌خانوادگی</th>
                <th>شماره ملی</th>
                <th>وضعیت درخواست</th>
                <th>تاریخ درخواست</th>
                <th>امکانات</th>
            </tr>
            </thead>
            <tbody class="">
            {% for visa in visas %}
                <tr class="{% if visa.visaState.stateCode == 10 %}bg-success text-light{% endif %}">
                    <td>{{ loop.index }}</td>
                    <td>{{ visa.passenger.pname }} {{ visa.passenger.pfamily }}</td>
                    <td>{{ visa.passenger.pcodemeli }}</td>
                    <td>{{ visa.visaState.stateName }}</td>
                    <td>{{ Jdate.jdate('Y/n/d',visa.dateSubmit) }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('HSSECeremonialView',{'id':visa.id}) }}">مشاهده</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}