{% extends 'appBase.html.twig' %}
{% block appName %}سامانه جامع ایمنی و اقدامات تامینی{% endblock %}
{% block appMenu %}
    <div class="list-group">
        <a class="list-group-item list-group-item-action flex-column align-items-start active" href="{{ path('HSSEDashboard') }}">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-2 tx-14">داشبورد اصلی</h5><small><i class="fas fa-chalkboard fa-2x"></i></small>
            </div>
            <p class="mb-1 tx-13">دسترسی به منو اصلی داشبورد</p>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start" href="{{ path('HSSEPersons') }}">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-2 tx-14">پرسنل</h5><small><i class="fas fa-user-friends fa-2x"></i></small>
            </div>
            <p class="mb-1 tx-13">لیست پرسنل</p>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start" href="{{ path('HSSEPenaltyList') }}">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-2 tx-14">جرائم و تخلفات</h5><small><i class="fas fa-list-alt fa-2x"></i></small>
            </div>
            <p class="mb-1 tx-13">لیست جرائم و تخلفات</p>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start" href="{{ path('HSSEToolsList') }}">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-2 tx-14">تجهیزات ایمنی</h5><small><i class="fas fa-tools fa-2x"></i></small>
            </div>
            <p class="mb-1 tx-13">لیست اقلام و وسائل تحویلی</p>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-start" href="{{ path('HSSEHealthList') }}">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-2 tx-14">بهداری</h5><small><i class="fas fa-book-dead fa-2x"></i></small>
            </div>
            <p class="mb-1 tx-13">لیست بیماران و ویرایش وضعیت</p>
        </a>
    </div>
{% endblock %}


