{% extends 'hsse/HSSEbase.html.twig' %}

{% block title %}مشاهده حادثه: {{ hurt.title }}{% endblock %}

{% block appTop %}
    <a class="btn btn-sm btn-success" href="{{ path('HSSEPersonsHurtList') }}">
        <i class="fa fa-undo"></i>
        لیست حوادث
    </a>
{% endblock %}

{% block pageBody %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="card card-primary">
                    <div class="card-header">اطلاعات حادثه</div>
                    <div class="card-body listgroup-example">
                        <ul class="list-group px-2">
                            <li>موضوع:{{ hurt.title }}</li>
                            <li>نوع حادثه:{{ hurt.htype }}</li>
                            <li>درجه خسارت:{{ hurt.hgraid }}</li>
                            <li>محل وقوع:{{ hurt.location }}</li>
                            <li>تاریخ وقوع:{{ hurt.hdate }}</li>
                            <li>ساعت وقوع:{{ hurt.htime }}</li>
                            <li>توضیحات:{{ hurt.des }}</li>
                            <li>اقدامات پزشک به مصدومین:{{ hurt.doctorDoing }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="card">
                    <div class="card-header pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title mg-b-0">افراد حادثه دیده</h4>
                            <i class="mdi mdi-dots-horizontal text-gray"></i>
                        </div>
                        <p class="tx-12 tx-gray-500 mb-2">لیست افراد حادثه دیده</p>
                    </div>
                    <div class="card-body">
                        <b for="exampleInputEmail1">افزودن فرد حادثه دیده</b>
                        <div class="input-group mb-3">
                            <input type="text" id="project" class="form-control" placeholder="نام و نام خانوادگی ..." aria-label="" aria-describedby="basic-addon1">
                            <div class="input-group-prepend">
                                <button class="btn btn-success" type="button" onclick="add_passenger();">افزودن</button>
                            </div>
                        </div>
                        <div class="table-responsive border-top userlist-table">
                            <table class="table card-table table-striped table-vcenter text-nowrap mb-0">
                                <thead>
                                <tr>
                                    <th class="wd-lg-8p"><span>نام و نام خانوادگی</span></th>
                                    <th class="wd-lg-20p"><span>کد ملی</span></th>
                                    <th class="wd-lg-20p"><span>امکانات</span></th>
                                </tr>
                                </thead>
                                <tbody class="tb">
                                {% for passenger in passengersList %}
                                    <tr class="pl{{ passenger.id }}">
                                        <td>{{ passenger.cmpassenger.pname ~ ' ' ~ passenger.cmpassenger.pfamily }}</td>
                                        <td>
                                            {{ passenger.cmpassenger.pcodemeli }}
                                        </td>
                                        <td class="text-center">
                                            <button data-toggle="dropdown" class="btn btn-sm btn-primary btn-block"><i class="fa fa-list"></i>  اقدام    <i class="icon ion-ios-arrow-down tx-11 mg-l-3"></i></button>
                                            <div class="dropdown-menu">
                                                <button class="dropdown-item" onclick="remove_passenger({{ passenger.id }})"><i class="fa fa-trash"></i>  حذف از کلاس</button>
                                                <a class="dropdown-item" href="{{ path('HSSEPersonfolder',{'id':passenger.cmpassenger.id}) }}"><i class="fa fa-list"></i>  پرونده </a>
                                            </div><!-- dropdown-menu -->
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $( "#project" ).val( '' );
        });
        var activeAddID = 0;
        var activeListId = {{ hurt.cmlist.id }};

        function remove_passenger(id){
            $.ajax({
                url: Routing.generate('hsseCMLISTremovePassenger', {
                    'id': id
                }),
                success: function(data) {
                    if(data == 'ok'){
                        $('.pl' + id).remove();
                        notif({
                            type: "success",
                            msg: "فرد مورد نظر از لیست حذف شد",
                            position: "right",
                            bottom:'10',
                            fade: true
                        });
                    }
                }
            });
        }
        function add_passenger(){
            if(activeAddID == 0){
                alert('noting selected');
            }
            else{
                //check for that added before
                $.ajax({
                    url: Routing.generate('hsseCMLISTexistPassenger', {
                        'lid': activeListId,
                        'pid': activeAddID
                    }),
                    success: function(data) {
                        if(data == 'nf'){
                            //insert passenger to list
                            $.ajax({
                                url: Routing.generate('hsseCMLISTaddPassenger', {
                                    'lid': activeListId,
                                    'pid': activeAddID
                                }),
                                success: function(data) {
                                    if(data == 'nf'){
                                        alert(data);
                                    }
                                    else{
                                        //add user to table
                                        var data = jQuery.parseJSON( data );
                                        var row = '<tr class="pl' + data.id + '"><td>' + data.name + '</td><td>' + data.codemeli + '</td><td><button class="btn btn-sm btn-danger" onclick="remove_passenger(' + data.id + ')"><i class="fa fa-trash"></i></button></td></tr>';
                                        $('.tb').append(row);
                                        notif({
                                            type: "success",
                                            msg: "فرد مورد نظر به لیست اضافه شد",
                                            position: "right",
                                            bottom:'10',
                                            fade: true
                                        });
                                    }
                                    $( "#project" ).val( '' );
                                }
                            });
                        }
                    }
                });
            }
        }
        $( function() {
            var projects = [
                {% for passenger in passengers %}
                {
                    value: "{{ passenger.id }}",
                    label: "{{ passenger.pname ~  ' ' ~ passenger.pfamily }}",
                    desc: "{{ passenger.pcodemeli }}",
                    icon: "{{ passenger.pcodemeli }}.jpg"
                },

                {% endfor %}
            ];

            $( "#project" ).autocomplete({
                minLength: 0,
                source: projects,
                focus: function( event, ui ) {
                    $( "#project" ).val( ui.item.label );
                    return false;
                },
                select: function( event, ui ) {
                    $( "#project" ).val( ui.item.label );
                    activeAddID = ui.item.value;

                    $( "#passenger-id" ).val( ui.item.value );
                    $( "#project-description" ).html( ui.item.desc );
                    $( "#project-icon" ).attr( "src", "../../files/ProfilePic/" + ui.item.icon );
                    return false;
                }
            })
                .autocomplete( "instance" )._renderItem = function( ul, item ) {
                return $( "<li>" )
                    .append( "<div>" + item.label + "<br>" + item.desc + "</div>" )
                    .appendTo( ul );
            };
        } );
    </script>
{% endblock %}