{% extends 'hsse/HSSEbase.html.twig' %}

{% block title %}لیست حوادث{% endblock %}

{% block appTop %}
    <a class="btn btn-sm btn-success" href="{{ path('HSSEHurtSubmit') }}">
        <i class="fa fa-plus"></i>
         ثبت حادثه جدید
    </a>
{% endblock %}

{% block pageBody %}
    <div class="table-responsive">
        <table class="table table-data table-sm table-striped table-bordered table-hover rounded text-center">
            <thead class="bg-blue text-light">
            <tr>
                <th>ردیف</th>
                <th>نوع</th>
                <th>درجه</th>
                <th>عنوان</th>
                <th>تاریخ</th>
                <th>امکانات</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr class="">
                    <td class="">{{ loop.index }}</td>
                    <td>{{ item.htype }}</td>
                    <td>{{ item.hgraid }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.hdate }}</td>
                    <td>
                        <a class="btn btn-sm btn-success" href="{{ path('HSSEHurtView',{'id':item.id}) }}"><i class="fa fa-eye"></i> </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}