{% extends 'hsse/HSSEbase.html.twig' %}

{% block title %}
    لیست اقلام و تجهیزات تحویلی به پرسنل
{% endblock %}

{% block appTop %}

{% endblock %}

{% block pageBody %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="p-2">
                    <div class="table-responsive">
                        <table class="table table-data table-sm table-striped table-bordered table-hover rounded text-center">
                            <thead class="bg-blue text-light">
                            <tr>
                                <th>ردیف</th>
                                <th>نام و نام خانوادگی</th>
                                <th>زیر مجموعه</th>
                                <th>نام تجهیزات</th>
                                <th>تعداد</th>
                                <th>تاریخ تحویل</th>
                                <th>امکانات</th>
                            </tr>
                            </thead>
                            <tbody class="">
                            {% for item in items %}
                                <tr class="tr{{ item.id }}">
                                    <td>{{ loop.index }}</td>
                                    <td>{{ item.passenger.pname ~ ' ' ~ item.passenger.pfamily }}</td>
                                    <td>{{ item.passenger.submitter.publicLabel }}</td>
                                    <td>{{ item.toolName }}</td>
                                    <td>{{ item.num }}</td>
                                    <td>{{ Jdate.jdate('Y/m/d',item.dateSubmit) }}</td>
                                    <td>
                                        <button class="btn btn-sm btn-danger" onclick="activeID={{ item.id }};$('#exampleModal').modal();"><i class="fa fa-trash"></i> </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        activeID = 0;
        function deletePenalty(){
            $.ajax({
                url: Routing.generate('HSSEDeleteToolSubmit', {
                    'id': activeID,
                }),
                success: function(data) {
                    $('.tr' + activeID).remove();
                    $('#exampleModal').modal('hide');
                    $('#modaldemo4').modal('show');
                }
            });
        }
    </script>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-light">
                    <h5 class="modal-title" id="exampleModalLabel">حذف جریمه</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    آیا برای حذف این آیتم مطمئن هستید؟
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="deletePenalty();">حذف</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بازگشت</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="modaldemo4">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content tx-size-sm">
                <div class="modal-body tx-center pd-y-20 pd-x-20">
                    <button aria-label="بستن" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button> <i class="icon ion-ios-checkmark-circle-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>
                    <h4 class="tx-success tx-semibold mg-b-20">حذف</h4>
                    <p class="mg-b-20 mg-x-20">آیتم تجهیزات با موفقیت حذف شد.</p><button aria-label="بستن" class="btn ripple btn-success pd-x-25" data-dismiss="modal" type="button">ادامه هید</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}