{% extends 'hsse/HSSEbase.html.twig' %}

{% block title %}لیست پرسنل{% endblock %}

{% block appTop %}

{% endblock %}

{% block pageBody %}
    {% if msg == 1 %}
        <div class="alert alert-success" role="alert">
            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>ثبت شد!</strong> جریمه با موفقیت ثبت شد.
        </div>
    {% elseif msg == 2 %}
        <div class="alert alert-success" role="alert">
            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>ثبت شد!</strong> تحویل تجهیزات با موفقیت ثبت شد.
        </div>
    {% elseif msg == 3 %}
        <div class="alert alert-success" role="alert">
            <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>ثبت شد!</strong> ثبت ورود به بهداری با موفقیت انجام شد.
        </div>
    {% endif %}
    <div class="p-2">
        <div class="table-responsive">
            <table class="table table-data table-sm table-striped table-bordered table-hover rounded text-center">
                <thead class="bg-blue text-light">
                <tr>
                    <th class="d-none d-lg-table-cell">ردیف</th>
                    <th>نام و نام خانوادگی</th>
                    <th class="d-none d-lg-table-cell">کد ملی</th>
                    <th class="d-none d-lg-table-cell">شماره تماس</th>
                    <th>امکانات</th>
                </tr>
                </thead>
                <tbody class="">
                {% for user in users %}
                    <tr class="">
                        <td class="d-none d-lg-table-cell">{{ loop.index }}</td>
                        <td>{{ user.pname ~ ' ' ~ user.pfamily }}</td>
                        <td class="d-none d-lg-table-cell">{{ user.pcodemeli }}</td>
                        <td class="d-none d-lg-table-cell">{{ user.tel1 }}</td>
                        <td>
                            <button data-toggle="dropdown" class="btn btn-sm btn-primary btn-block"><i class="fa fa-list"></i>  اقدام    <i class="icon ion-ios-arrow-down tx-11 mg-l-3"></i></button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('HSSEPersonHealthSubmit',{'id':user.id}) }}"><i class="fa fa-book-dead"></i>  بهداری </a>
                                <a class="dropdown-item" href="{{ path('HSSEPersonsToolsSubmit',{'id':user.id}) }}"><i class="fa fa-tools"></i>  تجهیزات</a>
                                <a class="dropdown-item" href="{{ path('HSSEPersonsGuidSubmit',{'id':user.id}) }}"><i class="fa fa-book-reader"></i  >آموزش</a>
                                <a class="dropdown-item" href="{{ path('HSSEPersonspenaltySubmit',{'id':user.id}) }}"><i class="fa fa-info-circle"></i>  جریمه</a>
                                <a class="dropdown-item" href="{{ path('HSSEPersonfolder',{'id':user.id}) }}"><i class="fa fa-list"></i>  پرونده </a>
                            </div><!-- dropdown-menu -->

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}