{% extends 'appSimple.html.twig' %}
{% block title %}پیام‌های دریافتی{% endblock %}
{% block appBody %}
<div class="card">
    <div class="card-header bg-info text-light">
        صندوق پیام‌های دریافتی
        <span class="float-left appTopMenu">
            <a class="btn btn-success border" href="{{ path('messageNew') }}">
                <span class="fa fa-plus"></span>
                پیام جدید
            </a>
        </span>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-sm table-bordered table-hover rounded text-center">
                <thead class="bg-blue text-light">
                <tr>
                    <th>ردیف</th>
                    <th>فرستنده</th>
                    <th>موضوع پيام</th>
                    <th>تاریخ ارسال</th>
                    <th>امکانات</th>
                </tr>
                </thead>
                <tbody class="">
                {% for message in messages %}
                    <tr class="">
                        <td>{{ loop.index }}</td>
                        <td>{{ message.sender.publicLabel }}</td>
                        <td>{{ message.mtitle }}</td>
                        <td>{{ Jdate.jdate('Y/n/d H:i',message.dateSend) }}</td>
                        <td>
                            <a class="btn btn-block btn-info" href="{{ path('messageView',{'id':message.id}) }}">
                                <i class="fas fa-eye"></i>
                                مشاهده
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
