<!doctype html>
<html lang="fa">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="icon" href="{{ asset('favicon.ico') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-rtl.min.css') }}">
    <!-- jquery UI css files -->
    <link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.theme.min.css') }}">

    <!-- chartist CSS -->
    <link rel="stylesheet" href="{{ asset('assets/chartjs/Chart.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/fontawesome.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/datatable/datatables.min.css') }}"/>
    <!-- Custom CSS -->
    <link href="{{ asset('assets/css/admin/sb-admin-2.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/jstree/themes/default/style.min.css') }}">
    {% if ConfigMGR.getConfig.SYSFONTNAME == null or  ConfigMGR.getConfig.SYSFONTNAME == 'shabnam'%}
        <link rel="stylesheet" href="{{ asset('assets/css/shabnam.css') }}">
    {% else %}
        <style>
            font-family: 'tahoma' !important;
        </style>
    {% endif %}
    <title>{{ ConfigMGR.getConfig.siteName }} - {% block title %}{% endblock %}</title>

    <!-- Optional JavaScript -->
    <!-- Javascript JS Routing library -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ asset('assets/js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.alphanum.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.mask.min.js') }}"></script>
    <script src="{{ asset('assets/js/popper.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/jstree/jstree.min.js') }}"></script>
    <script src="{{ asset('assets/js/core.js') }}"></script>
    <script src="{{ asset('assets/js/modal.js') }}"></script>
    <script src="{{ asset('assets/chartjs/Chart.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/datatable/datatables.min.js') }}"></script>

    {% block stylesheets %}{% endblock %}
    <script>
        $(document).ready(function(){
            //create datatable
            $('.table').DataTable({
                "language": {
                    "url": "{{ asset('assets/datatable/datatable.farsi.json') }}",
                    buttons: {
                        colvis: 'ستون‌ها',
                        print: "چاپ",
                        excel: "اکسل",
                        copy: "رونوشت"
                    }
                },
                "pageLength": 25,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "همه"]],
                dom: 'Blftip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'colvis',
                    'print'
                ]
            });
        });
    </script>
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
</head>
<body id="page-top" onload="jsCoreRun()">
<div class="">
    <div class="" id="modalPart"></div>
</div>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<script src="{{ asset('assets/js/sb-admin.js') }}"></script>
</body>
</html>
