{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/app_base.css') }}">
{% endblock %}
{% block body %}
    {% include 'topMenu.html.twig' %}
    <div class="container-fluid ">
        <div class="row mb-5">
            <div class="col-xs-12 col-md-2 sidebar border-left border-top">
                <!-- Sidebar -->
                {% block appMenu %}{% endblock %}
            </div>
            <div class="col-xs-12 col-md-10">
                <ol class="breadcrumb my-1">
                    <li class="breadcrumb-item"><a class="" href="{{ path('home') }}">
                            <i class="fas fa-home"></i>
                            پورتال اصلی
                        </a></li>
                    <li class="breadcrumb-item text-primary">
                        <i class="fas fa-warehouse"></i>
                        {{ UserMGR.currentPosition.defaultArea.areaName}}
                    </li>
                    <li class="breadcrumb-item"><a class="" href="{{ path('apps') }}">
                            <i class="fal fa-window-alt"></i>
                            برنامه‌ها
                        </a>
                    </li>
                    <li class="breadcrumb-item">{{ block('appName') }}</li>
                    <li class="breadcrumb-item active">{{ block('title') }}</li>
                </ol>
                <div class="card my-0">
                    <div class="card-header bg-success text-light">
                        <span class="float-right">{{ block('title') }}</span>
                        <span class="float-left appTopMenu">{% block appTop %}{% endblock %}</span>
                    </div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    {% block alerts %}
                                        {% if alerts is defined %}
                                            {% if alerts|length != 0 %}
                                                {% for alt in alerts %}
                                                    <div class="alert alert-{{ alt.type }}" role="alert">
                                                        {{ alt.message }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        {% endif %}
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                        {% block pageBody %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-sm bg-secondary fixed-bottom py-0 mt-5">
        <!-- Navbar text-->
        <a class="navbar-brand text-light" href="http://sarkesh.org">
            <img src="{{asset('/assets/images/public/rahkar.png')}}" width="30" height="30" class="d-inline-block align-top" alt="">
            سامانه مدیریت یکپارچه راهکار
        </a>
        <span class="navbar-text text-light mr-auto">
            {{ ConfigMGR.getConfig.footerText }}
        </span>

    </nav>
{% endblock %}
