<!doctype html>
<html lang="fa">
<head>
    <title>{{ ConfigMGR.getConfig.siteName }} - {% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="fa" />
    <meta name="document-type" content="Public" />
    <meta name="document-rating" content="General" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="PRGCO BY SARKESH LTD" />

    <link href="{{ asset('Css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('Css/bootstrap-rtl.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('Css/animate.css') }}" rel="stylesheet" />
    <link href="{{ asset('Css/Style.css') }}" rel="stylesheet" />
    <link href="{{ asset('Css/owl-carousel/owl.carousel.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('Css/sina-nav.min.css') }}" rel="stylesheet" />
    <script src="{{ asset('Js/jquery-2.0.0.min.js') }}"></script>
    <script src="{{ asset('Js/popper.min.js') }}"></script>
    <script src="{{ asset('Js/bootstrap.min.js') }}"></script>

    <script src="{{ asset('Js/owl.carousel.js') }}"></script>
    <script src="{{ asset('Js/custom.js') }}"></script>

    <script src="{{ asset('Js/sina-nav.min.js') }}"></script>

    <!--<link href="Css/all.min.css" rel="stylesheet" />
    <script src="Js/all.min.js"></script>-->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Optional JavaScript -->
    <!-- Javascript JS Routing library -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    {% block stylesheets %}{% endblock %}
    <script>
        $(document).ready(function(){
            //create datatable
            var table = $('.table').DataTable({
                "language": {
                    "url": "{{ asset('assets/datatable/datatable.farsi.json') }}",
                    buttons: {
                        colvis: 'ستون‌ها',
                        print: "چاپ",
                        excel: "اکسل",
                        copy: "رونوشت"
                    }
                },
                "pageLength": 32,
                "autoWidth": false,
                "colReorder": true,
                "lengthMenu": [[10, 32, 100, -1], [10, 32, 100, "همه"]],
                dom: 'Blftip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'colvis',
                    'print'
                ]
            });

            new $.fn.dataTable.ColReorder(table);
        });
    </script>
</head>
<body onload="jsCoreRun()">
<div class="SystemModal" id="SystemModal"></div>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
