{% extends 'cmo/OPTbase.html.twig' %}
{% block title %}{{ typeName }}{% endblock %}

{% block pageBody %}
    <div class="table-responsive">
        <table class="table table-data table-sm table-striped table-bordered table-hover rounded text-center">
            <thead class="bg-blue text-light">
            <tr>
                <th>ردیف</th>
                <th>درخواست کننده</th>
                <th>مقصد</th>
                <th>وضعیت درخواست</th>
                <th>تاریخ درخواست</th>
                <th>امکانات</th>
            </tr>
            </thead>
            <tbody class="">
            {% for visa in visas %}
                <tr class="{% if visa.visaState.stateCode == 2 %}row-bg-success{% elseif visa.visaState.StateCode == -1 %}row-bg-danger{% endif %}">
                    <td>{{ loop.index }}</td>
                    <td>{{ visa.submitter.getPublicLabel }}</td>
                    <td>{{ visa.countryDes.countryName }}</td>
                    <td>{{ visa.visaState.stateName }}</td>
                    <td>{{ Jdate.jdate('Y/n/d',visa.dateSubmit) }}</td>
                    <td>
                        <a class="btn btn-info rounded btn-small btn-sm" href="{{ path('ceremonialOPTVisaView',{'id':visa.id}) }}">مشاهده</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}