{% extends 'project/base.html.twig' %}

{% block title %}آرشیو پروژه ها{% endblock %}
{% block appTop %}
    <a class="btn btn-success border" href="{{ path('ProjectAdminNewProject') }}">
        <i class="fas fa-plus"></i>
        پروژه جدید
    </a>
{% endblock %}
{% block pageBody %}
    <div class="table-responsive">
        <table class="table table-data table-sm table-striped table-bordered table-hover rounded text-center">
            <thead class="bg-blue text-light">
            <tr>
                <th>ردیف</th>
                <th>نام پروژه</th>
                <th>به روز رسانی</th>
                <th>پیشرفت فیزیکی</th>
                <th>پیشرفت برنامه ای</th>
                <th>امکانات</th>
            </tr>
            </thead>
            <tbody class="">
            {% for project in projects %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ project.areaName }}</td>
                    <td>{{ Jdate.jdate('Y/n/d در ساعت h:i',project.lastUpdate) }}</td>
                    <td>{{ project.Pprogress }}</td>
                    <td>{{ project.Cprogress }}</td>
                    <td>
                        <a class="btn btn-success" href="{{ path('ProjectAdminEditProject',{'id':project.id}) }}">ویرایش</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}