{% extends 'appBase.html.twig' %}
{% block appName %}اپراتوری تشریفات{% endblock %}
{% block appMenu %}
    <ul class="sidebar navbar-nav">
        <li class="nav-item border-bottom">
            <a class="nav-link" href="{{ path('ceremonialDOINGDashboard') }}">
                <i class="fas fa-chalkboard"></i>
                <span>داشبورد</span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-plane"></i>
                <span>درخواست‌های بلیط هواپیما</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                <a class="dropdown-item" href="{{ path('ceremonialOPTAIRpaneList',{'type':'acp'}) }}">درخواست‌های تایید شده</a>
                <a class="dropdown-item" href="{{ path('ceremonialOPTAIRpaneList',{'type':'all'}) }}">آرشیو درخواست‌ها</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-passport"></i>
                <span>درخواست‌های ویزا</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                <a class="dropdown-item" href="{{ path('ceremonialOPTVisaList',{'type':'wfd'}) }}">درخواست‌های در انتظار</a>
                <a class="dropdown-item" href="{{ path('ceremonialOPTVisaList',{'type':'accepted'}) }}">درخواست های تایید شده</a>
                <a class="dropdown-item" href="{{ path('ceremonialOPTVisaList',{'type':'all'}) }}">آرشیو درخواست‌ها</a>
            </div>
        </li>
    </ul>
{% endblock %}


