{% extends 'ceremonial/REQbase.html.twig' %}

{% block title %}گزارش مالی کل{% endblock %}
{% block appTop %}
    <i class="fas fa-question-square" onclick="SysLoadMsg('1007');"></i>
{% endblock %}
{% block pageBody %}
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="card mb-2">
                <div class="card-header bg-primary text-light">
                    نمودار هزینه
                </div>
                <div class="card-body">
                    <div class="chart-container">
                        <canvas id="myChart"></canvas>
                    </div>
                    <script>

                        var ctx = document.getElementById('myChart');
                        var color = Chart.helpers.color;
                        Chart.defaults.global.defaultFontFamily = 'Shabnam FD';
                        window.chartColors = {
                            red: 'rgb(255, 99, 132)',
                            orange: 'rgb(255, 159, 64)',
                            yellow: 'rgb(255, 205, 86)',
                            green: 'rgb(75, 192, 192)',
                            blue: 'rgb(54, 162, 235)',
                            purple: 'rgb(153, 102, 255)',
                            grey: 'rgb(201, 203, 207)'
                        };
                        var myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: {{ moneyLabels | json_encode | raw }},
                                datasets: [
                                    {
                                        label: 'جدول هزینه‌های تشریفاتی شما',
                                        backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                                        borderColor: window.chartColors.red,
                                        borderWidth: 1,
                                        data: {{ moneyTotals | json_encode | raw }},
                                    }
                                ]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }],
                                    xAxes: [{
                                        barPercentage: 0.5,
                                        barThickness: 25,
                                        maxBarThickness: 25,
                                        minBarLength: 2,
                                        gridLines: {
                                            offsetGridLines: true
                                        }
                                    }]
                                },
                                legend: {
                                    labels: {
                                        // This more specific font property overrides the global property
                                        fontColor: 'black'
                                    }
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="card mb-2">
                <div class="card-header bg-primary text-light">
                    اطلاعات مالی
                </div>
                <div class="card-body">
                    <p>
                        تعداد کل فاکتورها:
                        <span class="text-success">{{ docs | length }}</span>
                    </p>
                    {% for moneyLabel in moneyLabels %}
                        <p>
                            جمع هزینه‌ها در واحد ({{ moneyLabel }}):
                            <span class="text-success">{{ moneyTotals[loop.index0] | number_format(0, '.', ',') }}</span>
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
