{% extends 'ceremonial/REQbase.html.twig' %}

{% block title %}لیست مسافران{% endblock %}
{% block appTop %}
    <a class="btn btn-success mb-1" href="{{ path('ceremonialREQpasengerNew') }}">
        <i class="fa fa-plus"></i>
        مسافر جدید
    </a>
{% endblock %}
{% block pageBody %}
    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover rounded text-center">
            <thead class="thead-dark">
            <tr>
                <th>ردیف</th>
                <th>نام و نام‌خانوادگی</th>
                <th>نام پدر</th>
                <th>تاریخ تولد</th>
                <th>امکانات</th>
            </tr>
            </thead>
            <tbody class="">
            {% for passenger in passengers %}
                <tr class="">
                    <td>{{ loop.index }}</td>
                    <td>{{ passenger.pname }} {{ passenger.pfamily }}</td>
                    <td>{{ passenger.pfather }}</td>
                    <td>{{ passenger.pbirthday }}</td>
                    <td>
                        <a class="btn btn-success" href="{{ path('ceremonialPassportNew',{'id':passenger.id}) }}">
                            <i class="fas fa-passport"></i>
                            <span>درخواست ویزا</span>
                        </a>
                        <a class="btn btn-primary" href="{{ path('ceremonialREQAIRpaneNew',{'id':passenger.id}) }}">
                            <i class="fas fa-plane"></i>
                            <span>بلیط هواپیما</span>
                        </a>
                        <a class="btn btn-info" href="{{ path('ceremonialREQpasengerView',{'id':passenger.id}) }}">مشاهده</a>
                        <a class="btn btn-warning" href="{{ path('ceremonialREQpasengerEdit',{'id':passenger.id}) }}">ویرایش</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}