{% extends 'withNavbar.html.twig' %}

{% block title %}تغییر کلمه‌عبور{% endblock %}

{% block pageBody %}
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="card">
                <div class="card-header text-center bg-primary text-light">
                    تغییر کلمه‌عبور
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            {{ form_start(form) }}
                            {{ form_label(form.currentPassword) }}
                            {{ form_widget(form.currentPassword) }}
                            {{ form_label(form.newPassword) }}
                            {{ form_widget(form.newPassword) }}
                            {{ form_label(form.renewPassword) }}
                            {{ form_widget(form.renewPassword) }}

                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            {{ form_widget(form.submit) }}
                            <a class="btn btn-sm btn-warning" href="{{ path('userViewProfile') }}">بازگشت</a>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
