{% extends 'withNavbar.html.twig' %}

{% block title %}ورود به پورتال{% endblock %}

{% block pageBody %}
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="card">
                <img class="card-img-top" src="{{ asset('assets/images/public/loginbackgrount.webp') }}" alt="Card image cap">
                <div class="card-header text-center bg-success text-light">
                    <i class="fas fa-question-square" onclick="SysLoadMsg('1002');"></i>
                    ورود به پورتال
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 justify-content-center">
                            {{ form_start(form) }}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-user"></i>
                                    </div>
                                </div>
                                {{ form_widget(form.username) }}
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-key"></i>
                                    </div>
                                </div>
                                {{ form_widget(form.password) }}
                            </div>
                            <br>
                            {{ form_widget(form.submit) }}
                            <a class="btn btn-warning" href="{{ path('home') }}">
                                بازگشت
                            </a>
                            {{ form_end(form) }}
                            <hr>
                            <div class="alert alert-warning" onclick="SysLoadMsg('1003');">نام کاربری یا کلمه عبور خود را فراموش کرده اید؟</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
