{% extends 'withoutNavbar.html.twig' %}

{% block title %}ورود{% endblock %}

{% block pageBody %}
    <style>
        body {
        {% if ConfigMGR.getConfig.SYSLOGINBGRND is null %}
            background-image: url("{{asset('/assets/images/public/bgrnd2.jpeg')}}"); /* The image used */
        {% else %}
            background-image: url("{{asset('/files/' ~ ConfigMGR.getConfig.SYSLOGINBGRND)}}");
        {% endif %}
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
        }
        .card {
            opacity: 0.9;
            filter: alpha(opacity=90); /* For IE8 and earlier */
        }
        
    </style>
    <script>

    </script>
    <div class="row py-md-5 my-md-5">
        <div class="col-xs-12 col-sm-12 col-md-4 px-md-5">
            <div class="card">
                <div class="card-header text-center bg-success text-light">
                    <i class="fas fa-question-square" onclick="SysLoadMsg('1002');"></i>
                    ورود به پورتال
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 justify-content-center">
                            {{ form_start(form) }}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-user"></i>
                                    </div>
                                </div>
                                {{ form_widget(form.username) }}
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-key"></i>
                                    </div>
                                </div>
                                {{ form_widget(form.password) }}
                                <div class="input-group-append">
                                    <span class="input-group-text" onclick="SysLoadMsg('1003');">
                                        <i class="fa fa-question-circle"></i>
                                    </span>
                                </div>
                            </div>
                            <br>
                            {{ form_widget(form.submit) }}
                            <a class="btn btn-warning" href="{{ path('home') }}">
                                <i class="fa fa-undo"></i>
                                بازگشت
                            </a>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <b>
                        سامانه مدیریت یکپارچه راهکار
                    </b>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
