{% extends 'withoutNavbar.html.twig' %}

{% block title %}ورود{% endblock %}

{% block pageBody %}
    <div class="row">
        <div class="col-12">
            {% if alerts is defined %}
                {% if alerts|length != 0 %}
                    {% for alt in alerts %}
                        <div class="alert alert-{{ alt.type }}" role="alert">
                            {{ alt.message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header text-center bg-success text-light">
                    <i class="fas fa-question-square" onclick="SysLoadMsg('1002');"></i>
                    ورود به پورتال
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 justify-content-center">
                            {{ form_start(form) }}
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <i class="fas fa-user"></i>
                                    </div>
                                </div>
                                {{ form_widget(form.username) }}
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <i class="fas fa-key"></i>
                                    </div>
                                </div>
                                {{ form_widget(form.password) }}
                                <div class="input-group-prepend">
                                    <span class="input-group-text" onclick="SysLoadMsg('1003');">
                                        <i class="fa fa-question-circle"></i>
                                    </span>
                                </div>
                            </div>
                            <br>
                            {{ form_widget(form.submit) }}
                            <a class="btn btn-warning" href="{{ path('home') }}">
                                <i class="fa fa-undo"></i>
                                بازگشت
                            </a>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <b>
                        سامانه مدیریت یکپارچه راهکار
                    </b>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
