{% extends 'withNavbar.html.twig' %}

{% block title %}پروفایل کاربری{% endblock %}

{% block pageBody %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 card-center mx-auto">
                <div class="card">
                    <div class="card-header">
                        نمایه شخصی
                    </div>
                    <div class="card-body">
                        <h4 class="text-primary">اطلاعات فردی:</h4>
                        <div class="row">
                            <div class="col-6">
                                نام / نام‌خانوادگی:
                                {{ user.fullname }}
                            </div>
                            <div class="col-6">
                                نام‌کاربری:
                                {{ user.username }}
                            </div>
                        </div>
                        <hr>
                        <h4 class="text-primary">تغییر تصویر نمایه</h4>
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <img class="img-thumbnail" alt="" src="{{ asset('files/ProfilePic/' ~ UserMGR.currentUser.nationalCode ~ '.jpg') }}">

                            </div>
                            <div class="col-sm-12 col-md-8">
                                {{ form_start(form) }}
                                {{ form_widget(form.docName) }}
                                <br>
                                {{ form_widget(form.submit) }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                        <hr>
                        <h4 class="text-primary">سمت‌ها و جایگاه‌ها</h4>
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-sm table-striped table-bordered table-responsive-lg table-hover">
                                    <thead class="thead-light">
                                    <tr>
                                        <th class="text-center" scope="col">ردیف</th>
                                        <th class="text-center" scope="col">نام سمت شغلی</th>
                                        <th class="text-center" scope="col">امکانات</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for position in positions %}
                                        <tr>
                                            <th class="text-center" >{{ loop.index }}</th>
                                            <th class="text-center" >{{ position.label }}</th>
                                            <th class="text-center" >
                                                <a class="btn btn-info btn-sm" href="{{ path('userChangePosition',{'id':position.id}) }}">انتخاب به عنوان سمت پیشفرض</a>
                                            </th>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr>
                        <a class="btn btn-primary btn-sm" href="{{ path('userChangePassword') }}">تغییر کلمه عبور کاربری</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}